.bota_pagination {
  margin: 20px 0 20px;
  text-align: center;
  .pagination {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    margin: 0;
    vertical-align: top;
    background-color: #fff;
    border: 0;

    li {
      display: inline-block;  
      float: left;
      border: 0;
      margin: 0 5px;

      a, span {
        width: 35px;
        height: 35px;
        line-height: 33px;
        border: 1px solid #ebebeb !important;
        display: block;
        padding: 0;
        color: #6b6b6b;
        border-radius: 100% !important;
        min-width: 35px !important;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -ms-transition: all .5s;
        transition: all .5s;
        font-weight: 600;
        i{
          line-height: 33px;
        }
      }
      &.page-item{
        &.active .page-link, &:hover .page-link{
          background-color: #fec83f;
          border-color: #fec83f !important;
          color: #fff !important;
        }
      }
    }
  }
}
