/*== Footer==*/
.bota_footer {
	background-color: #000;
	position: relative;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	&_top {
		padding-top: 90px;
		padding-bottom: 90px;
	}
	  &_sologan {
		color: #999;
		margin-bottom: 25px;
	  }
	  
	 &_text {
		color: #999;
		font-size: 14px;
	  
		h4 {
			margin-bottom: 10px;
			color: #fff;
			font-weight: 600;
			font-size: 18px;
		}
	  }
	  
	 &_logo {
		margin-bottom: 15px;
	  }
	  &_title {
		font-weight: bold;
		position: relative;
		color: #fff;
		font-size: 25px;
		margin-bottom: 25px;
	  }
	  &_text ul li {
		padding-left: 30px;
		position: relative;
		margin-bottom: 15px;
	  
		i {
		  position: absolute;
		  left: 0;
		  top: 5px;
		  color: #fff;
		}
	  
		a {
		  color: #999;
		}
	  }
	  
	  .bota_subscribe_desc {
		color: #999;
		font-size: 14px;
	  }
	  
	  .bota_subscribe_form {
		input {
		  background-color: #222222 !important;
		  border: none;
		  font-size: 14px;
		  height: 44px;
		  color: #fff !important;
		  padding-right: 50px !important;
		  border-radius: unset !important;
		}
	  
		position: relative;
		margin-bottom: 35px;
	  
		.btn.btn-default {
		  position: absolute;
		  top: 0;
		  right: 0;
		  z-index: 1;
		  background-color: #f00401;
		  color: #fff;
		  padding: 13px 15px;
		  border-radius: unset;
		  line-height: 20px;
	  
		  &:hover {
			opacity: .8;
		  }
		}
	  }
	  
	&_socail {
		> ul {
		  display: flex;
	  
		  > li {
			> a {
			  color: #999;
			}
	  
			+ li {
			  margin-left: 10px;
			}
	  
			> a:hover {
			  color: #fff;
			}
		  }
		}
	  
		position: relative;
		margin-bottom: 15px;
	  }
	  .copyright {
		background-color: #202020;
		color: #999;
		text-align: center;
		padding: 15px;
		font-weight: 600;
	  
		a {
		  color: #f00401;
		}
	  }
	  .bota_album_list > ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
	  
		> li {
		  img {
			transition: all 0.7s ease;
			-moz-transition: all 0.7s ease;
			-webkit-transition: all 0.7s ease;
			-o-transition: all 0.7s ease;
			height: 65px;
			-o-object-fit: cover;
			object-fit: cover;
			width: 100%;
	  
			&:hover {
			  -webkit-transform: scale(1.12);
			  transform: scale(1.12);
			}
		  }
	  
		  > a {
			overflow: hidden;
			position: relative;
			display: block;
		  }
		}
	  }
			  
}
.back-to-top {
	background-color: #f00401;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	display: none;
	position: fixed;
	z-index: 999;
	right: 15px;
	bottom: 15px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	&:hover{
		opacity: .8;
	}
  
	i {
	  font-size: 18px;
	  color: #fff;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  -moz-transform: translate(-50%, -50%);
	  -o-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}
	&.show {
		display: inline;
	}
  }
  
.hide {
	display: none;
}
/*== End Footer==*/