$body-font-family: 'Manrope', sans-serif;
$body-font-family-2: 'Manrope', sans-serif;
@font-face{
    font-family:revicons;
    src:url(../fonts/revicons.woff) format("woff");
    font-display:block;
  }
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');