/*== Edit By DTM Reponsive ===*/
$desktop:"max-width:1199px";
$landscape-tablets:"(max-width:1024px)";
$portrait-tablets:"(max-width:991px)";
$landscape-mobile-big:"(max-width:767px)";
$landscape-mobile:"(max-width:480px)";
$portrait-mobile:"(max-width: 320px)";
@media only screen and #{$landscape-tablets}{
	.bota_header_language_mb {
		ul li {
		  padding: 0 5px;
		  img{
			opacity: .6;
		  }
		  &.active{
			img{
				opacity: 1;
			}
		  }
	  
		  &:first-child {
			padding-left: 0;
		  }
		  a:before {
			display: none;
		  }
		}
	  }
	  .bota_header_social_icons ul li{
		&:last-child{
			padding-right: 0;
		}
	  }
	  
	.bota_block_info {
		.bota_block_info_img {
			img {
				margin: auto;
				display: block;
			}
			.ova-counter {
				left: calc(100% - 34.5%);
				top: 18%;
				padding: 0;
				max-width: 80px;
			}
		}
	}
	.nxtActiveMenu>li>a{
		font-size: 11px;
	}
	
	.bota_logo_menu.mm-listitem {
	    background: #fff;
	    text-align: center;
	    padding: 10px 0;
	}
	#mm-1 .mm-navbar {
	    display: none;
	}
	#mm-1 {
	    padding-top:0;
	}
	.mm-listitem:after {
	    left:0;
	}
	.mm-menu_theme-dark .mm-navbar a, .mm-menu_theme-dark .mm-navbar>* {
	    color: #fff;
	    font-size: 16px !important;
	    text-transform: uppercase;
		font-weight: 700;
	}
	.mm-listitem>a, .mm-listitem>span {
	    font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.mm-menu_theme-dark .mm-listview .mm-btn_next:after,.mm-menu_theme-dark .mm-btn:after, .mm-menu_theme-dark .mm-btn:before,
	.mm-navbar,.mm-listitem .mm-btn_next:before,.mm-listitem:after  {
	    border-color: #fff;
	}
	.mm-menu_theme-dark {
	    background: #f00401;
	}
	.bota_why_video{
		iframe{
			width: 100%;
		}
	}
}
@media only screen and #{$portrait-tablets}{
	.bota_header {
		.bota_search {
			position: absolute;
			top: 98px;
			z-index: 2;
			right: 0;
			left: 0;
			display: none;
			background: #fff;
			&.active{
				display: block;
				width: 100%;
				margin: auto;
				padding-bottom: 10px;
				#search-box {
					width: 92%;
					margin: auto;
					position: relative;
				}
			}
			.search-area{
				.bota_search_border{
					input {
						background-color: #fff;
						height: 40px;
						border-radius: unset;
						-webkit-appearance: none;
						width: 100%;
						color: #000 !important;
					  }
				}
			}
		  
			
			 #BNC_btn_search {
				height: 40px;
				border-radius: unset;
				-webkit-appearance: none;
				width: 40px;
			}
		  }
	}
	.bota_block_info {
		.bota_block_info_img {
			img {
				margin: auto;
				display: block;
			}
			.ova-counter {
				left: calc(100% - 31.5%);
				top: 23%;
				padding: 0;
				max-width: 80px;
			}
		}
	}
}
@media only screen and #{$landscape-mobile-big}{
	.bota_header .bota_search{
		top: 70px;
	}
	.bota_side_nav {
		width: 100%;
		padding: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: unset;
		border: none;
		background-color: #fff;
	  
		> ul {
		  display: flex;
		  justify-content: space-between;
		  padding: 0 10px;
	  
		  > li {
			flex: 1;
		  }
		}
	  
		li {
		  a {
			white-space: nowrap;
			padding: 3px 5px;
		  }
	  
		  &:last-child {
			position: relative;
		  }
		}
	  }
	  
	  .back-to-top {
		bottom: 100px;
	  }
	  
	.bota_job_page_top_is {
		.bota_job_page_top_center {
		  width: 100%;
		  margin: 30px 0 30px;
		}
	  
		.bota_job_page_top_left {
		  margin: auto;
		  display: block;
		  float: none;
		}
	  
		text-align: center;
	  
		.bota_job_page_top_right {
		  text-align: center;
		  float: none;
		  width: 100%;
		}
	  }
	  
	  .bota_job_page_recruit_btn {
		width: 100%;
	  }
	  
	  .bota_job_info_employer {
		margin-bottom: 30px;
	  }
	  
	.bota_product_cate {
		.portfolio-filter.filter-2 {
		  a.portfolio-filter-item {
			border: 1px solid;
			width: 100%;
			display: block;
			padding: 10px 0;
		  }
	  
		  > ul > li {
			display: block;
			margin: 0 auto 10px;
		  }
	  
		  li a:after {
			display: none;
		  }
		}
	  
		padding: 40px 0;
	  }
	  
	  .bota_title_all {
		margin-bottom: 70px;
	  }
	  
	  .bota_footer_top {
		padding-top: 50px;
		padding-bottom: 50px;
	  }
	  .bota_header_right {
		justify-content: center;
	}
	.bota_block_info {
		.bota_block_info_img {
			img {
				margin: auto;
				display: block;
			}
			.ova-counter {
				left: calc(100% - 37.5%);
				top: 18%;
				padding: 0;
				max-width: 80px;
			
			.odometer-wrapper {
				.odometer {
					font-size: 35px;
					}
				
					.title {
					font-size: 12px;
					}
				}
			}
		}
	}
	  
}
@media only screen and #{$portrait-mobile}{
	.bota_block_info .bota_block_info_img .ova-counter {
		.odometer-wrapper {
		  .odometer {
			font-size: 30px;
			
		  }
	  
		  .title {
			font-size: 11px;
		  }
		}
		max-width: 67px;
	  }
	  .bota_side_nav li a {
		img {
		  width: 20px;
		  height: 20px;
		}
	  
		font-size: 7px;
	  }
	  
	  
}