/*== Edit By DTM Reponsive ===*/
$desktop:"max-width:1199px";
$landscape-tablets:"(max-width:1024px)";
$portrait-tablets:"(max-width:991px)";
$landscape-mobile-big:"(max-width:767px)";
$landscape-mobile:"(max-width:480px)";
$portrait-mobile:"(max-width: 320px)";
@media only screen and #{$landscape-tablets}{
	.bota_header {
		.bota_search {
			position: absolute;
			top: 111px;
			z-index: 2;
			right: 15px;
			display: none;
		  
			input {
			  background-color: #fff;
			}
		  }
		  &_right {
			justify-content: center;
		  }
	}
	  
}
@media only screen and #{$portrait-tablets}{

}
@media only screen and #{$landscape-mobile-big}{
	
}
@media only screen and #{$portrait-mobile}{
	
}