/*== Edit By DTM Reponsive ===*/
$desktop:"max-width:1199px";
$landscape-tablets:"(max-width:1024px)";
$portrait-tablets:"(max-width:991px)";
$landscape-mobile-big:"(max-width:767px)";
$landscape-mobile:"(max-width:480px)";
$portrait-mobile:"(max-width: 320px)";
@media only screen and #{$landscape-tablets}{
	.bota_header {
		.bota_search {
			position: absolute;
			top: 111px;
			z-index: 2;
			right: 15px;
			display: none;
		  
			input {
			  background-color: #fff;
			}
		  }
		  &_right {
			justify-content: center;
		  }
	}
	.bota_logo_menu.mm-listitem {
	    background: #fff;
	    text-align: center;
	    padding: 10px 0;
	}
	#mm-1 .mm-navbar {
	    display: none;
	}
	#mm-1 {
	    padding-top:0;
	}
	.mm-listitem:after {
	    left:0;
	}
	.mm-menu_theme-dark .mm-navbar a, .mm-menu_theme-dark .mm-navbar>* {
	    color: #fff;
	    font-size: 16px !important;
	    text-transform: uppercase;
		font-weight: 700;
	}
	.mm-listitem>a, .mm-listitem>span {
	    font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.mm-menu_theme-dark .mm-listview .mm-btn_next:after,.mm-menu_theme-dark .mm-btn:after, .mm-menu_theme-dark .mm-btn:before,
	.mm-navbar,.mm-listitem .mm-btn_next:before,.mm-listitem:after  {
	    border-color: #fff;
	}
	.mm-menu_theme-dark {
	    background: #f00401;
	}
}
@media only screen and #{$portrait-tablets}{

}
@media only screen and #{$landscape-mobile-big}{
	
}
@media only screen and #{$portrait-mobile}{
	
}