.bota_album_list > ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
  
	> li {
	  img {
		transition: all 0.7s ease;
		-moz-transition: all 0.7s ease;
		-webkit-transition: all 0.7s ease;
		-o-transition: all 0.7s ease;
		height: 65px;
		object-fit: cover;
		width: 100%;
  
		&:hover {
		  transform: scale(1.12);
		}
	  }
  
	  > a {
		overflow: hidden;
		position: relative;
		display: block;
	  }
	}
  }
  