body{
	margin: 0;
	background-color: #fff;
	color: #333333;
    font-size: 14px;
    line-height: 1.6;
	font-family: $body-font-family;
}
body, input, button, select, textarea, .search-query {
    font-family: $body-font-family !important;
}
img{
	max-width: 100%;
}
a {
    text-decoration: none;
    color: var(--color-base-text);
}
a:hover {
	color: #fec83f;
	outline: none; 
}
a, a:after, a:before {
	transition: all 0.3s linear 0s;
}

button,input,select {
	outline: none;
}
.bota_title_all {
	h2 {
	  margin: 0;
	  margin-bottom: 30px;
	  font-size: 40px;
	  font-weight: 900;
	  line-height: 1.21;
	  color: #1b1eab;
	  text-transform: capitalize;

	  span {
		position: relative;
		padding-bottom: 5px;

		&:after {
		  content: "";
		  transition: all 0.5s ease;
		  -moz-transition: all 0.5s ease;
		  -webkit-transition: all 0.5s ease;
		  -o-transition: all 0.5s ease;
		  position: absolute;
		  left: 0;
		  bottom: 0;
		  width: 100%;
		  height: 2px;
		  background-color: #fec83f;
		}
	  }
	}

	text-align: center;
	margin-bottom: 100px;
  }
.bota_factory {
	padding: 30px 0px 0 0px;
	z-index: 1;
	position: relative;
  
	.bota_factory_bg_overlay {
	  height: 100%;
	  width: 100%;
	  top: 0;
	  left: 0;
	  position: absolute;
	  background-position: bottom right;
	  background-repeat: no-repeat;
	  background-size: 40%;
	  opacity: 1;
	}
  
	.container {
	  position: relative;
	}
  

	.bota_factory_item {
		padding: 0px 0 0px 75px;
		position: relative;
		width: 100%;
		flex-wrap: wrap;
		align-content: flex-start;
		display: flex;
		&:hover {
			.icon{
				&:before {
					transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					background-color: #fff;
				}
				i.icon-settings {
					color: #fff !important;
				}
			}
		}
	}
	.ova-counter {
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		row-gap: 15px;
		background-color: #fec83f;
		padding: 32px 30px;
		line-height: normal;
		text-align: left;
		flex-wrap: nowrap;
		width: 100%;
	  
		.icon {
		  position: relative;
		  display: inline-flex;
		  justify-content: center;
		  align-items: center;
		  margin: 0 60px 0 -60px;
	  
		  &:before {
			transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 68px;
			height: 68px;
			border-radius: 50%;
			background-color: #1b1eab;
			z-index: 2;
		  }
		  img{
			transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			position: relative;
			display: inline-flex;
			z-index: 2;
		  }
		  i {
			transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			position: relative;
			display: inline-flex;
			font-size: 62px;
			color: #fec83f;
			z-index: 2;
	  
			&.icon-settings {
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  font-size: 152px !important;
			  color: #1b1eab !important;
			  text-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
			  z-index: 1;
			}
		  }
		}
	  
		.odometer {
		  color: #fff;
		  font-size: 50px;
		  font-weight: 800;
		  line-height: 1.3;
		  vertical-align: middle;
		}
	  
		.suffix {
		  transition: all 0.3s ease;
		  -moz-transition: all 0.3s ease;
		  -webkit-transition: all 0.3s ease;
		  -o-transition: all 0.3s ease;
		  color: #fff;
		  font-size: 50px;
		  font-weight: 800;
		  vertical-align: middle;
		}
	  
		.title {
		  transition: all 0.3s ease;
		  -moz-transition: all 0.3s ease;
		  -webkit-transition: all 0.3s ease;
		  -o-transition: all 0.3s ease;
		  margin: 0;
		  font-size: 18px;
		  font-weight: 500;
		  line-height: 1.3;
		  color: #fff;
		}
	  }
	  
  }
  
  .bota_why {
	padding: 50px 0;
  }
  
  .bota_why_desc {
	ul {
	  position: relative;
	  border: 1px solid #f3f3f3 !important;
	  display: flex;
	  flex-wrap: wrap;
	}
  
	li {
	  position: relative;
	  width: 33%;
	  color: #fec83f;
	  font-size: 12px;
	  font-weight: 700;
	  float: left;
	  list-style: none;
	  line-height: 1.4em;
	  padding: 10px 5px 10px 50px;
	  margin-left: 0px;
  
	  img {
		object-fit: scale-down;
		position: absolute;
		left: 15px;
		margin-top: 5px;
	 }
	 @media (min-width: 801px) {
		width: calc(32.3% - 10px);
		padding: 15px 35px 15px 55px;
		font-size: 16px;
	 }
	}
  }
  
  .bota_title_main {
	h2 {
	  text-transform: uppercase;
	  font-weight: 700;
	  font-size: 18px;
	  color: #555;
	}
  
	margin-bottom: 50px;
  }
  