body{
	margin: 0;
	background-color: #fff;
	color: #333333;
    font-size: 14px;
    line-height: normal;
	font-family: $body-font-family;
	&.resmenu-open:before {
		content: '';
		background: rgba(0,0,0,.7);
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 9999;
		width: 100%;
	}
}
body, input, button, select, textarea, .search-query {
    font-family: $body-font-family !important;
}
img{
	max-width: 100%;
}
a {
    text-decoration: none;
    color: var(--color-base-text);
}
a:hover {
	color: #ff9800;
	outline: none; 
}
a, a:after, a:before {
	transition: all 0.3s linear 0s;
}

button,input,select {
	outline: none;
}
.tooltipster-default .tooltipster-content {
    font-size: 14px;
    padding: 6px 9px;
}

.bota_loader {
	background-color: #ffffff;
	height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
	.rotating {
		background-image: url(../imgs/loading.gif);
		background-position: center center;
		background-repeat: no-repeat;
		bottom: 0;
		height: auto;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
	}
}
.main_page_bota .bota_block_email_home {
	margin-top: 50px;
}
/*== container ==*/
:root {
	--menuWidth:321px;
	--leftColBackground:#fff;
	--lightLeftColBackground:#f9f9f9;
	--darkLeftColBackground:#22272b;
	--topbarColor:#0b0105;
	--mainColor:#2b97a3;
	--mainColor2:#2b97a3;
	--mainColorfoo:#2b97a3;
	--menuHover:#2b97a3;
	--accentColor1:#929292;
	--accentColor2:#2b97a3;
	--textColor:#4c4c4c;
	--toastSuccessBg:#d1e7dd;
	--toastSuccessCl:#0f5132;
	--toastWarningBg:#fff3cd;
	--toastWarningCl:#664d03;
	--toastErrorBg:#f8d7da;
	--toastErrorCl:#842029;
	--toastSystemBg:#d3d3d4;
	--toastSystemCl:#141619;
  }
  
  .toast-container {
	position: fixed;
	z-index: 9999;
	top: 20px;
	right: 20px;
  
	.toast {
	  position: relative;
	  width: 100%;
	  max-width: 300px;
	  min-width: 280px;
	  background-color: #fff;
	  border-radius: 5px;
	  padding: 15px;
	  margin-bottom: 20px;
	  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
	  opacity: 0;
	  visibility: hidden;
	  transition: all 0.3s ease-in-out;
	  overflow: inherit;
  
	  &:hover {
		box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.15), 0 15px 15px -5px rgba(0, 0, 0, 0.1);
	  }
  
	  .t-title {
		display: flex;
		align-items: center;
		width: 100%;
		margin: 0;
		color: #262626;
		font-weight: 600;
		font-size: 1.1rem;
  
		&[class^="t-icon-"] {
		  font-size: 1.2rem;
		  padding: 0 10px 0 0;
		}
	  }
  
	  .t-text {
		color: #262626;
		margin: 5px 0 0 0;
	  }
  
	  .t-close {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		height: 25px;
		width: 25px;
		right: -10px;
		top: -10px;
		padding: 0;
		margin: 0;
		background-color: var(--accentColor1);
		border-radius: 50%;
		transform: rotate(45deg);
		cursor: pointer;
		box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  
		&:after, &:before {
		  content: '';
		  display: block;
		  position: absolute;
		  background-color: #eee;
		  border-radius: 3px;
		}
  
		&:after {
		  width: 2px;
		  height: 16px;
		}
  
		&:before {
		  width: 16px;
		  height: 2px;
		}
	  }
  
	  &.active {
		opacity: 1;
		visibility: visible;
	  }
  
	  &.system {
		background-color: var(--toastSysBg);
  
		.t-text, .t-title {
		  color: var(--toastSysCl);
		}
	  }
  
	  &.success {
		background-color: var(--toastSuccessBg);
  
		.t-text, .t-title {
		  color: var(--toastSuccessCl);
		}
	  }
  
	  &.warning {
		background-color: var(--toastWarningBg);
  
		.t-text, .t-title {
		  color: var(--toastWarningCl);
		}
	  }
  
	  &.error {
		background-color: var(--toastErrorBg);
  
		.t-text, .t-title {
		  color: var(--toastErrorCl);
		}
	  }
	}
  }
  
/*== brands products ===*/

.v2-login {
	border: 2px solid #eaeaea;
	padding: 30px 0;
	height: 100%;
	width: 50%;
	margin: auto;

	h2 {
		text-align: center;
		position: relative;
		padding-top: 40px;
		margin: 0;
		font-size: 24px;
		font-weight: 700;
		border-bottom: 2px solid #e1e1e1;
		padding-bottom: 20px;
		margin-bottom: 40px;
		margin-top: 0;
		color: #000;

		&:before {
			position: absolute;
			top: 0;
			font-size: 28px;
			left: calc(50% - 14px);
			content: "\f2f6";
			font-family: 'font awesome 5 pro';
		}

		&:after {
			content: "";
			width: 210px;
			height: 2px;
			background: $color-primary;
			position: absolute;
			bottom: -2px;
			left: calc(50% - 105px);
		}
	}
	.box-content {
		padding: 0 90px;

		label {
			display: block;
			width: 100%;
			font-weight: 600;
			color: #828282;
			font-size: 14px;
		}

		input,select {
			padding: 0 20px !important;
			width: 100% !important;
			height: 50px;
			line-height: 50px;
			outline: none;

			&:focus {
				border-color: #fe4545;
			}
		}
		select{
			outline: none;
			margin: 0;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAUCAYAAAD/Rn+7AAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC+SURBVHgBzdfLDYQgFEBRydtbAaGW6WyYzqYWSqACvQsTQ+SPyl3xe8nZorTWVin1XSZsd/3Ee/9f13Vfq88yUeCcc1bYzIY8cKzlOJwFecaRnC/fRoY4kvDRW8grHMnV46eRMRxJbOgpZApHkhq+G5nDURJIdyFLcJQF0mhkKY6KgDQKWYOjYiD1ImtxVAWkVmQLjqqBVItsxVETkEqRPThqBlIO2YujLiDFkCNw1A2kEDkKNzy+D8YYuwxsA40EjfwL2b00AAAAAElFTkSuQmCC);
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-repeat: no-repeat;
			background-size: 10px;
			background-position: 92% center !important;
		}

		.input-group {
			margin-bottom: 15px;
		}

		.text-danger {
			display: inline-block;
			position: relative;
			color: #000 !important;

			&:before {
				bottom: 0;
				left: 50%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				-webkit-transition: all .3s ease;
				transition: all .3s ease;
				background: #000;
			}

			&:hover {
				&:before {
					background: $color-primary;
					width: 50%;
				}

				color: $color-primary !important;
			}
		}

		.btn {
			background: #000;
			border: 0;
			font-size: 12px;
			color: #fff;
			font-weight: 700;
			text-transform: uppercase;
			cursor: pointer;
			max-width: 220px;
			margin: auto;
			width: 100%;
			display: block;
			line-height: 25px;
			border-radius: unset;
			height: 50px;
			outline: none;

			&:hover {
				background: $color-primary;
			}
		}
	}
}
.v2-reg.v2-login .btn-login {
	border: 0;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	max-width: 220px;
	background: $color-primary;
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: auto;
	display: block;
	margin-top: 25px;
	outline: none;

	&:hover {
		background: $color-primary;
	}
}
.v2-login-sex {
	position: relative;
	display: flex;

	label.radio {
		display: inline-block;
		width: auto;
		line-height: 20px;
		margin-right: 15px;
		input[type="radio"] {
			margin-right: 5px;
		}
	}
}
.btn-dark-address {
    margin-right: 10px;
}
.v2-login .box-content .v2-login-sex input {
	width: auto !important;
	height: auto;
	line-height: 20px;
	margin-right: 5px;
	position: relative;
	top: 2px;
}
.bota_forgot_password .v2-login h2:before {content:'\f084'}
.regis .v2-login h2:before {content: "\f007";}
.bota_block_tags.bg_block_black {
	padding: 0 0px 27px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 40px;
	.bota_tags_cloud {
		position: relative;

		a {
			font-size: 11px !important;
			color: #888888;
			padding: 5px 20px;
			margin: 0 4px 8px 0;
			display: inline-block;
			background: #f7f8fa;
			border-radius: 15px;

			&:hover {
				background: #2b97a3;
				color: #fff;
			}
		}
	}
}

.bota_maps_page {
	position: relative;

	select {
		outline: none;
		margin: 0;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAUCAYAAAD/Rn+7AAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC+SURBVHgBzdfLDYQgFEBRydtbAaGW6WyYzqYWSqACvQsTQ+SPyl3xe8nZorTWVin1XSZsd/3Ee/9f13Vfq88yUeCcc1bYzIY8cKzlOJwFecaRnC/fRoY4kvDRW8grHMnV46eRMRxJbOgpZApHkhq+G5nDURJIdyFLcJQF0mhkKY6KgDQKWYOjYiD1ImtxVAWkVmQLjqqBVItsxVETkEqRPThqBlIO2YujLiDFkCNw1A2kEDkKNzy+D8YYuwxsA40EjfwL2b00AAAAAElFTkSuQmCC);
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-repeat: no-repeat;
		background-size: 10px;
		background-position: 96% !important;
		border-radius: unset;
		font-size: 14px;
		height: 40px;
	}

	input {
		border-radius: unset;
		height: 40px;
		font-size: 14px;

		&:focus {
			border-color: #fe4545;
		}
	}

	select:focus {
		border-color: #fe4545;
	}
}

.map_list_address {
	position: relative;
	color: #000;

	a {
		color: #000;
	}
}
  
  .row-collapse {
	margin: 0;
  
	> .col {
	  padding: 0;
	}
  }
  
  .bota_section_title_center {
	span {
	  margin: 0 15px;
	  color: rgba(255, 0, 0, 0.79);
	  font-size: 25px;
	  font-weight: bold;
	  line-height: 1.3;
	  @media only screen and (max-width: 1024px) {
		font-size: 22px;
	  }
	}
  
	b {
	  background-color: currentColor;
	  display: block;
	  flex: 1;
	  height: 2px;
	  opacity: .1;
	}
  
	text-align: center;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	position: relative;
	width: 100%;
  }

  .bota_testimonial_item {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	padding: 15px;
  
	.bota_testimonial_img {
	  flex: 0 0 auto;
	  margin-bottom: 0;
	  max-width: 150px;
	  width: 150px;
	  height: 150px;
	}
  
	.bota_testimonial_content {
	  flex: 1 1 0%;
	  padding-left: 16px;
	}
  
	.bota_testimonial_img img {
	  border-radius: 100%;
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
  
	.bota_testimonial_content {
	  .bota_testimonial_rating {
		i {
		  color: #f23a07;
		}
  
		margin-bottom: 8px;
	  }
  
	  .bota_testimonial_text {
		line-height: 1.4em;
		font-style: italic;
		font-size: 15px;
  
		h3 {
		  font-size: 20px;
		  color: #111;
		  margin-bottom: 10px;
		}
	  }
  
	  .bota_testimonial_title {
		padding-top: 15px;
	  }
	}
  
	&:hover {
	  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
	  transform: translateY(-6px);
	  transition: transform .3s,box-shadow .3s,background-color .3s,color .3s,opacity .3s;
	}
  }
  
  .bota_block_adv_left {
	background-color: #f1d7cd;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	.bota_block_title h2 {
		font-weight: 600;
		letter-spacing: .05em;
		line-height: 1.05;
		text-transform: uppercase;
		position: relative;
		color: #ed1c24;
		font-size: 35px;
		padding-bottom: 10px;
		text-align: center;
	  
		span {
		  color: #0000ff;
		}
	  
		&::after {
		  background-color: rgb(7, 0, 255);
		  max-width: 114px;
		  margin: 45px auto 16px;
		}
	  }
	  
  }
  .bota_block_adv_bottom {
	padding: 90px 0 60px;
	position: relative;
  
	.bota_block_title h2 {
	  &:after {
		display: none;
	  }
  
	  text-align: center;
	  color: rgb(0, 77, 255);
	  font-size: 20px;
	  margin-bottom: 45px;
	}
  
	.bota_block_adv_bottom_img {
	  margin: auto;
	}
  }
  
  @media (min-width: 550px) {
	.bota_block_adv_bottom .bota_block_adv_bottom_img {
	  width: 60%;
	}
  }
  .bota_block_email_bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    padding: 15px 25px 15px 25px;
    z-index: 2;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    width: 100%;
	margin-bottom: -50px;
	@media (max-width: 767px){
		border-radius: 10px 10px 10px 10px;
	}
	.bota_icon_box_wrapper {
		padding: 10px 15px 10px 15px;
		display: flex;
		align-items: center;
		flex-direction: row;
		@media (max-width: 991px){
			justify-content: center;
			text-align: center;
			flex-wrap: wrap;
		  }
		.bota_icon_box {
		  flex: 0 0 auto;
		  --icon-box-icon-margin:20px;
		  margin-right: var(--icon-box-icon-margin, 15px);
		  line-height: 1;
		  @media (max-width: 991px){
			flex: 0 0 100%
		  }
		  @media (max-width: 767px){
			display: none;
		}
		}
	  
		.bota_icon_box_content {
		  flex-grow: 1;
		}
	  
		.bota_icon_box .icons-animation {
		  display: inline-block;
		  line-height: 1;
		  -webkit-transition: all .3s;
		  -o-transition: all .3s;
		  transition: all .3s;
		  color: #818a91;
		  text-align: center;
		  font-size: 40px;
		  fill: #FFFFFF;
		  color: #FFFFFF;
		  border-color: #FFFFFF;
	  
		  svg {
			width: 40px;
			height: 40px;
			position: relative;
			display: block;
		  }
		}
	  
		.bota_icon_box_content {
		  .bota_icon_box_title {
			color: #FFFFFF;
			font-size: 22px;
			font-weight: 500;
			line-height: 1.2;
			@media (max-width: 767px){
				margin-bottom: 24px;
				text-align: center;
			}
		  }
	  
		  .bota_icon_box_description {
			color: #FFFFFF;
			font-size: 12px;
			@media (max-width: 767px){
				display: none;
			}
		  }
		}
	  }
	  .bota_block_body {
		padding: 10px 15px 10px 15px;
	}
	  .bota_form_group {
		input {
		  width: 100%;
		  border: 0;
		  padding: 0 20px;
		  height: 54px;
		  line-height: 54px;
		  border-radius: 30px;
		  -webkit-border-radius: 30px;
		  -moz-border-radius: 30px;
		  -ms-border-radius: 30px;
		  -o-border-radius: 30px;
		  font-size: 12px;
		  background: #fff;
		}
	  
		.BNC_submit_subscribe {
		  position: absolute;
		  right: 6px;
		  top: 6px;
		  border: 0;
		  background: #000;
		  font-size: 12px;
		  text-transform: uppercase;
		  color: #fff;
		  font-weight: 500;
		  cursor: pointer;
		  letter-spacing: 1.5px;
		  height: 42px;
		  padding: 0 25px;
		  border-radius: 25px;
		  -webkit-border-radius: 25px;
		  -moz-border-radius: 25px;
		  -ms-border-radius: 25px;
		  -o-border-radius: 25px;
		  line-height: 42px;
	  
		  &:hover {
			background: #2b97a3;
		  }
		}
	  
		position: relative;
	  }
	  
}
  .bota_tm_banners {
	padding: 100px 0;
  
	.bota_sub_banner {
	  position: relative;
  
	  .bota_sub_banner_inner {
		overflow: hidden;
		position: relative;
		display: inline-block;
		vertical-align: middle;
  
		img {
		  transition: transform .5s ease;
		  display: block;
		}
  
		&:hover img {
		  -o-transform: scale(1.05);
		  -moz-transform: scale(1.05);
		  -ms-transform: scale(1.05);
		  -webkit-transform: scale(1.05);
		  transform: scale(1.05);
		}
	  }
	}
  
	.bota_subbanner_description {
	  position: absolute;
	  top: 0;
	  width: auto;
	  text-align: left;
	  right: 38px;
	  left: auto;
	  display: flex;
	  flex-direction: column;
	  align-content: flex-start;
	  justify-content: center;
	  align-items: flex-end;
	  height: 100%;
	}
  
	.bota_subbanner_title_three {
	  font-size: 15px;
	  line-height: 21px;
	  color: #222222;
	  letter-spacing: .3px;
	  font-weight: 500;
	  text-transform: uppercase;
	  margin-bottom: 20px;
	}
  
	.bota_subbanner_subtitle_three {
	  font-size: 34px;
	  text-transform: capitalize;
	  font-weight: 700;
	  line-height: 38px;
	  letter-spacing: .3px;
	  margin-block: 0 10px;
	  font-family: Rufina,serif;
	}
  
	.bota_sub_banner a {
	  color: #222222;
	}
  
	.bota_subbanner_subtitle_three p {
	  margin-bottom: 0;
	}
  
	.bota_subbanner_button .bota_subbanner_tn {
	  background-color: transparent;
	  padding: 0;
	  font-weight: 600;
	  line-height: 30px;
	  font-size: 14px;
	  text-decoration: underline;
	  letter-spacing: .3px;
	  color: #222222;
	  border: 0;
	  text-transform: uppercase;
	}
  
	.bota_subbanner_tn:hover {
	  text-decoration: none;
	}
  
	.bota_subbanner_button {
	  padding-block: 20px 0;
	}
  }
  /*=== Compare CSS === */

#f-compare {
	position: fixed;
	top: 110px;
	right: -190px;
	width: 184px;
	background: #FCFCFC;
	z-index: 999;
	box-shadow: 0 0 2px #CCC;
	border-bottom: 5px solid #f3f3f3;
  
	.f-compare-title {
	  position: relative;
	  height: 30px;
	  line-height: 30px;
	  text-align: center;
	  border-bottom: 2px solid #F34711;
	  background: #28b0e9;
  
	  i {
		background: url(../imgs/compare.png) no-repeat;
		padding: 8px;
		padding-top: 9px;
		padding-bottom: 7px;
		position: absolute;
		left: 8px;
		top: 6px;
		cursor: pointer;
	  }
  
	  span {
		text-transform: uppercase;
		font-size: 13px;
		color: #000;
	  }
	}
  
	.f-compare-body {
	  ul {
		list-style: none;
  
		li {
		  position: relative;
		  height: 42px;
		  line-height: 40px;
		  text-overflow: ellipsis;
		  width: 182px;
		  overflow: hidden;
		  white-space: nowrap;
		  border-bottom: 1px solid #F1F1F1;
		  border-left: 2px solid #FFF;
		  cursor: pointer;
		  background: #FCFCFC;
  
		  &:last-child {
			border-bottom: 0px solid #F1F1F1;
		  }
  
		  &:hover {
			border-left: 2px solid #f34711;
			background: #fff;
		  }
  
		  a {
			padding: 10px;
			padding-top: 12px;
			background: url(../imgs/trash.png) no-repeat;
			position: absolute;
			top: 7px;
			left: 2px;
		  }
  
		  span {
			margin-left: 26px;
		  }
  
		  a:hover {
			background: url(../imgs/trashopen.png) no-repeat;
		  }
		}
	  }
  
	  .f-compare-info {
		height: 20px;
		line-height: 20px;
		text-align: center;
		background: #F7F7F7;
		border-bottom: 1px solid #6D6D6D;
		border-top: 1px solid #797979;
		color: #f34711;
	  }
  
	  .f-compare-button {
		height: 40px;
		line-height: 40px;
		text-align: center;
  
		a {
		  background: #ECECEC;
		  padding: 20px;
		  padding-top: 5px;
		  padding-bottom: 5px;
		  border-radius: 2px;
		  box-shadow: 0 0 5px #E4E4E4;
		  border: 1px solid #CFCFCF;
		  color: #7C7C7C;
		}
	  }
	}
  }
  
  .f-compare-page table thead tr th {
	a {
	  font-weight: normal;
	}
  
	span {
	  font-weight: normal;
	  color: #f34711;
	}
  }
  
  /*===  End Compare CSS === */
  .bota_tm_parallex {
	margin-top: 0;
  }
  
  .bota_parallex_image {
	height: auto !important;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	clear: both;
	display: inline-block;
	width: 100%;
	padding: 192px 0;
  }

  
  .bota_parallex_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
  }
  
  .bota_parallex_heading {
	font-size: 22px;
	color: #222;
	text-transform: uppercase;
	line-height: 26px;
	letter-spacing: 0;
	position: relative;
	font-weight: 500;
  }
  
  .bota_parallex_title {
	font-size: 60px;
	font-weight: 700;
	line-height: 75px;
	letter-spacing: 0;
	color: #222;
	margin: 35px 0 80px;
	text-transform: capitalize;
	font-family: 'Rufina', serif;
  }
  
  .bota_parallex_btn {
	background-color: #2b97a3;
	color: #fff;
	font-size: 14px;
	letter-spacing: .3px;
	line-height: 23px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	appearance: none;
	padding: 10px 28px;
	font-weight: bold;
  }
  
  .bota_parallex_button {
	float: left;
  }
  
  .jarallax {
	position: relative;
	z-index: 0;
	min-height: 620px;
  }
  
  @media screen and (max-width: 1269px) {
	.bota_parallex_image {
	  padding: 160px 0;
	}
  
	.bota_parallex_heading {
	  font-size: 20px;
	  line-height: 24px;
	}
  
	.bota_parallex_title {
	  font-size: 42px;
	  line-height: 57px;
	  margin: 20px 0 60px;
	}
  }
  
  @media screen and (max-width: 1149px) {
	.bota_parallex_content{
	  padding-left: 25px;
	}
  
	.bota_parallex_image {
	  padding: 120px 0;
	}
  }
  
  @media screen and (max-width: 989px) {
	.bota_parallex_title {
	  font-size: 32px;
	  line-height: 47px;
	  margin: 15px 0 45px;
	}
  
	.bota_parallex_image {
	  padding: 100px 0;
	}
  
	.bota_parallex_heading {
	  font-size: 18px;
	  line-height: 22px;
	}
  
	.bota_parallex_content {
	  padding-left: 18px;
	}
  }
  
  @media screen and (max-width: 749px) {
	.bota_parallex_content {
	  padding-left: 0;
	}
  }
  
  @media screen and (max-width: 649px) {
	.bota_parallex_image {
	  padding: 86px 0;
	}
  
	.bota_parallex_heading {
	  font-size: 16px;
	  line-height: 20px;
	}
  
	.bota_parallex_title {
	  font-size: 27px;
	  line-height: 41px;
	  margin: 15px 0 38px;
	}
  
	.bota_parallex_btn {
	  font-size: 13px;
	  padding: 8px 20px;
	}
  }
  
  @media screen and (max-width: 575px) {
	.bota_parallex_image {
	  padding: 56px 0;
	}
  
	.bota_parallex_heading {
	  font-size: 14px;
	  line-height: 18px;
	}
  
	.bota_parallex_title {
	  font-size: 22px;
	  line-height: 32px;
	  margin: 10px 0 32px;
	}
  }
  
  @media screen and (max-width: 479px) {
	.bota_parallex_btn {
	  font-size: 12px;
	  padding: 5px 14px;
	}
  }
  
  .bota_parallex_btn:hover {
	background-color: #222222;
	color: #fff;
  }
  
  .bota_widget_banner {
	margin-bottom: 15px;
	overflow: hidden;
	@media (max-width: 767px){
		margin-bottom: 0;
	  }
	.bota_widget_banner_item {
		overflow: hidden;
		@media (max-width: 767px){
			margin-bottom: 15px;
		}
		img {
			width: 100%;
			transition: all 0.3s;
			border-radius: 10px;
			&:hover{
				opacity: .85;
			}
		}
	}
  }

  .loading-filter {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 65px;
  
	&:before {
	  display: inline-block;
	  width: 100px;
	  height: 65px;
	  background: url(../imgs/loading-filter.svg) no-repeat 50%;
	  content: "";
	  background-size: contain;
	  position: unset;
	}
  }
  
  @keyframes a {
	0% {
	  transform: scale(1);
	  -webkit-transform: scale(1);
	  opacity: 1;
	}
  
	to {
	  transform: scale(2);
	  -webkit-transform: scale(2);
	  opacity: 0;
	}
  }
  
  @keyframes b {
	16.65% {
	  -webkit-transform: translateX(10px);
	  transform: translateX(10px);
	}
  
	33.33% {
	  -webkit-transform: translateX(-8px);
	  transform: translateX(-8px);
	}
  
	49.95% {
	  -webkit-transform: translateX(6px);
	  transform: translateX(6px);
	}
  
	66.6% {
	  -webkit-transform: translateX(-4px);
	  transform: translateX(-4px);
	}
  
	83.25% {
	  -webkit-transform: translateX(3px);
	  transform: translateX(3px);
	}
  
	to {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
  }
  
  @keyframes c {
	16.65% {
	  -webkit-transform: rotate(15deg);
	  transform: rotate(15deg);
	}
  
	33.33% {
	  -webkit-transform: rotate(-13deg);
	  transform: rotate(-13deg);
	}
  
	49.95% {
	  -webkit-transform: rotate(10deg);
	  transform: rotate(10deg);
	}
  
	66.6% {
	  -webkit-transform: rotate(-8deg);
	  transform: rotate(-8deg);
	}
  
	83.25% {
	  -webkit-transform: rotate(5deg);
	  transform: rotate(5deg);
	}
  
	to {
	  -webkit-transform: rotate(0);
	  transform: rotate(0);
	}
  }
  
  @-webkit-keyframes d {
	0% {
	  transform: scale(1);
	}
  
	50% {
	  transform: scale(1.15);
	}
  
	to {
	  transform: scale(1);
	}
  }
  
  @keyframes d {
	0% {
	  transform: scale(1);
	}
  
	50% {
	  transform: scale(1.15);
	}
  
	to {
	  transform: scale(1);
	}
  }
  
  @keyframes e {
	0% {
	  -webkit-transform: translateY(100%);
	  transform: translateY(100%);
	}
  
	to {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
  }
  
  @-webkit-keyframes e {
	0% {
	  -webkit-transform: translateY(100%);
	  transform: translateY(100%);
	}
  
	to {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
  }
  
  @keyframes f {
	0% {
	  -webkit-transform: translateY(-100%);
	  transform: translateY(-100%);
	}
  
	to {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
  }
  
  @-webkit-keyframes f {
	0% {
	  -webkit-transform: translateY(-100%);
	  transform: translateY(-100%);
	}
  
	to {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
  }
  
  @keyframes g {
	0% {
	  transform: scale(1);
	  -webkit-transform: scale(1);
	  opacity: 1;
	}
  
	to {
	  transform: scale(1.5);
	  -webkit-transform: scale(1.5);
	  opacity: 0;
	}
  }
  
  @keyframes h {
	0% {
	  width: 0;
	}
  
	to {
	  width: 40%;
	}
  }
  
  @keyframes i {
	0% {
	  width: 40%;
	}
  
	to {
	  width: 100%;
	}
  }
  
  @keyframes j {
	0% {
	  stroke: #2b97a3;
	  stroke-width: 10px;
	  fill: none;
	  stroke-dasharray: 1000;
	  stroke-dashoffset: 1000;
	}
  
	90% {
	  stroke: #2b97a3;
	  stroke-width: 10px;
	  fill: none;
	  stroke-dasharray: 1000;
	  stroke-dashoffset: 0;
	}
  
	to {
	  stroke: unset;
	  stroke-width: unset;
	  fill: unset;
	}
  }
  .bota_description_page{
	font-weight: 400;
	h2{
		margin-bottom: 20px;
	}
	p{
		font-weight: 300;
	}
	img{
		width: 100%;
	}
	h6{
		color: #2b97a3;
		font-family: "Lato", Sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.3em;
		letter-spacing: 4px;
		animation: colorschange 3s ease-in-out infinite;
		text-align: center;
		margin: 0px 0px 15px 0px;
	  }
	  .wdt-button-holder{
		display: flex;
		position: relative;
		transition: all 0.3s linear 0s;
		width: 100%;
		justify-content: space-between;
		margin-top: 60px;
		.wdt-button-text {
			display: inline;
			text-align: left;
		
			span {
				position: relative;
				background-image: linear-gradient(90deg, #ffffff, #ffffff), linear-gradient(90deg, #000000, #000000);
				background-size: 6rem 0.15rem, 100% 0.15rem;
				background-position-x: calc(6rem * -1), 0%;
				background-position-y: 100%;
				background-repeat: no-repeat;
				padding-bottom: 3px;
				transition: background-position-x 1s cubic-bezier(0.16, 1, 0.3, 1);
			}
			}
		
			.wdt-button-icon {
			width: 50px;
			height: 50px;
			margin: 0;
			align-items: center;
			justify-content: space-evenly;
			position: relative;
			display: inline-flex;
			line-height: 0;
			transition: all 0.3s linear 0s;
		
			&:before {
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				background-color: #d9ddcf;
				transition: all 0.3s ease-in-out;
				left: 0;
			}
		
			span {
				display: inherit;
				align-items: center;
				position: relative;
		
					svg {
						width: 30px;
					}
				}
			}
			&:hover {
				color: #2b97a3;
			
				.wdt-button-text span {
					background-position-x: calc(100% + 6rem), 0%;
				}
			
				.wdt-button-icon:before {
					width: 50px;
					height: 50px;
				}
				}
		a {
			font-family: "Lato", Sans-serif;
			font-size: 24px;
			font-weight: 700;
			text-transform: capitalize;
			line-height: 1.3em;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			border: 1px solid transparent;
			display: inline-flex;
			align-items: stretch;
			letter-spacing: 1px;
			justify-content: center;
			width: 100%;
		
			&:before, &:after {
			content: "";
			display: inline !important;
			height: auto;
			pointer-events: none;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			width: auto;
			z-index: -1;
			-webkit-transition: inherit;
			transition: inherit;
			}
		
			
		}
	  }
  }
  
  @keyframes colorschange {
	0% {
		  color: #000000;
	}
	50% {
		  color: #e9dfcb;
	}
	100% {
		  color: #000000;
	}
  }
  .bota_feedback_images {
	position: relative;
	overflow: hidden;
	margin-left: 100px;
	@media (max-width: 1540px) {
		  margin-left: 50px;
	}
	@media (max-width: 1024px) {
		margin-left: 0;
  }
	&:before {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: -70%;
	  display: block;
	  width: 50%;
	  height: 100%;
	  background: linear-gradient(to right, rgba(191, 191, 191, 0), rgba(255, 255, 255, 0.2) 100%);
	  -webkit-transform: skewX(-25deg);
	  transform: skewX(-25deg);
	  -webkit-transform: skewX(-25deg);
	}
  
	img {
	  width: 100%;
	  max-width: 100%;
	  height: 87vh;
	  object-fit: cover;
	  @media (max-width: 767px) {
		height: 50vh;
 	 }
	}
  
	&:hover:before {
	  -webkit-animation: strike 1s ease;
	  animation: strike 1s ease;
	}
  }
  .bota_cate_bottom_item {
	position: relative;
  
	.bota_cate_bottom_image:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  box-shadow: 0 4px 26px rgba(0, 96, 255, 0.1);
	  opacity: 0;
	  filter: alpha(opacity = 0);
	  -webkit-transition: all .3s;
	  -moz-transition: all .3s;
	  -o-transition: all .3s;
	  -ms-transition: all .3s;
	  transition: all .3s;
	  width: 0;
	  height: 0;
	}
  
	&:hover .bota_cate_bottom_image {
	  &:before {
		opacity: 1;
		filter: alpha(opacity = 100);
	  }
  
	  box-shadow: 0 0 25px rgba(0, 96, 255, 0.1);
	}
  
	.bota_cate_bottom_image {
	  position: relative;
  
	  img {
		margin-bottom: 30px;
		width: 100%;
	  }
	}
  
	.bota_cate_bottom_content {
	  position: absolute;
	  top: 25px;
	  left: 30px;
	  padding: 0;
	  text-align: left;
	  display: inline-block;
	  width: 100%;
	  vertical-align: top;
  
	  h4 {
		margin-bottom: 8px;
		max-height: 45px;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		font-size: 16px;
		line-height: 22px;
		text-transform: capitalize;
	  }
  
	  .shop-now {
		text-transform: uppercase;
		color: #2b97a3;
		font-size: 12px;
		font-weight: 700;
	  }
  
	  h4 a:hover {
		color: #2b97a3;
	  }
  
	  .shop-now:hover {
		text-decoration: underline !important;
	  }
	}
  }
  
  
  
  @keyframes strike {
	0% {
	  left: -70%;
	}
  
	100% {
	  left: 175%;
	}
  }


  @keyframes autoplay {
	0% {
	  -webkit-transform: translateY(30px);
	  transform: translateY(30px);
	}
  
	100% {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
  }
  
  @keyframes autoplay2 {
	0% {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
  
	100% {
	  -webkit-transform: translateY(30px);
	  transform: translateY(30px);
	}
  }
  @keyframes colorchange {
	0% {
	  color: rgba(191, 191, 191, 0.2);
	}
  
	50% {
	  -webkit-text-stroke-color: #000000;
	  color: #fff;
	}
  
	100% {
	  color: rgba(191, 191, 191, 0.2);
	}
  }
  .bota_category_block_select_left {
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 0px 20px 0px 20px;
  
	.row-small {
	  display: flex;
	  margin-right: auto;
	  margin-left: auto;
	  position: relative;
  
	  .bota_cate_left_column {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		-webkit-transition: all 0.3s linear;
		transition: all 0.3s linear;
		flex-basis: 33.33%;
		width: 33.33%;
  
		.bota_cate_left_image_cover {
		  display: grid;
		  position: relative;
		  z-index: 0;
		  -webkit-transition: inherit;
		  transition: inherit;
  
		  .bota_cate_left_image_wrapper {
			grid-area: 1/-1;
			align-items: center;
			align-content: center;
			justify-content: center;
			margin-bottom: 0 !important;
			overflow: hidden;
			text-align: center;
			position: relative;
			width: 100%;
			z-index: -1;
			display: inline-flex;
  
			&:before {
			  content: "";
			  height: 100%;
			  position: absolute;
			  left: 0;
			  top: 0;
			  transition: inherit;
			  width: 0%;
			  pointer-events: none;
			  z-index: 1;
			  background-color: #000000;
			  opacity: 0;
			  background-image: inherit;
			}
  
			.bota_cate_left_image {
			  width: 100%;
			  display: inline-flex;
			  overflow: hidden;
			  height: 670px;
			  transition: all 0.3s linear 0s;
  
			  img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center;
			  }
			}
		  }
  
		  .bota_cate_left_container {
			display: grid;
			grid-template-columns: auto auto;
			align-self: flex-end;
			grid-gap: 10px;
			width: 100%;
			padding: 35px;
			pointer-events: none;
			text-align: left;
			grid-area: 1/-1;
			align-items: center;
			align-content: center;
			justify-content: center;
			margin-bottom: 0 !important;
			overflow: hidden;
			transition: all 0.3s linear 0s;
  
			.bota_cate_left_title {
			  color: #fff;
  
			  h5 {
				font-size: 60px;
				font-weight: 700;
				-webkit-transition: all 0.3s linear;
				transition: all 0.3s linear;
			  }
			}
  
			.bota_cate_left_description {
			  font-size: 20px;
			  line-height: 1.3;
			  font-weight: 400;
			  transition: all 0.3s linear;
			  color: #fff;
			}
		  }
		}
  
		&:hover {
		  flex-basis: 50%;
		  width: 50%;
  
		  .bota_cate_left_image_cover {
			.bota_cate_left_image_wrapper:before {
			  width: 100%;
			  opacity: 0.4;
			}
  
			.bota_cate_left_container {
			  padding: 65px 135px;
			  @media screen and (max-width: 1540px) {
				padding: 65px 75px;
			  }
			  .bota_cate_left_title h5 {
				font-size: 100px;
			  }
			}
		  }
		}
	  }
	}
  }
 
  .bota_promotion_home {
	padding: 40px 0;
	@media (max-width: 991px){
		padding: 20px 0;
	}
	.row_smalls {
	  overflow: hidden;
	  display: flex;
	  @media (max-width: 991px){
		flex-wrap: wrap;
	  }
	  .item {
		width: 25%;
		padding: 0 15px 0 60px;
		position: relative;
		@media (max-width: 991px){
			width: 50%;
			margin: 0 0 20px;
		}
		@media (max-width: 767px){
			width: 100%;
			float: none;
		}
		h5 {
		  color: #283142;
		  font-size: 14px;
		  text-transform: capitalize;
		  font-weight: 700;
		  margin-bottom: 6px;
		  @media (max-width: 1024px){
			font-size: 13px;
		  }
		}
  
		a {
		  color: #959fae;
		  font-size: 12px;
		  &:hover {
			color: #283142;
			text-decoration: underline !important;
			}
			@media (max-width: 1024px){
				font-size: 11px;
			  }
		}
  
		&:after {
		  content: '';
		  width: 1px;
		  height: 40px;
		  background-color: #ededed;
		  position: absolute;
		  top: 0;
		  right: 30px;
		  @media (max-width: 1024px){
			display: none;
		  }
		}
		&:last-child::after{
			display: none;
		}
	  }
	}
  }
  .bota_order_online .bota_order_online_wrap {
	background-color: #f4fafa;
	padding: 30px 30px 20px;
	border-radius: 10px;
	@media (max-width: 991px){
		margin-bottom: 30px;
	}
  
	h4 {
	  font-size: 25px;
	  line-height: 35px;
	  color: #222;
	  margin: 0 0 30px;
	  font-weight: 700;
	}
  
	ul {
	  margin: 0;
  
	  > li {
		padding-bottom: 40px;
		overflow: hidden;
  
		.count {
		  height: 40px;
		  width: 40px;
		  text-align: center;
		  background-color: transparent;
		  border: 2px solid #2b97a3;
		  font-size: 16px;
		  font-weight: 700;
		  float: left;
		  margin-right: 15px;
		  line-height: 36px;
		  border-radius: 50%;
		  position: relative;
		  color: #2b97a3;
  
		  &:after {
			height: 28px;
			width: 2px;
			content: '';
			background: url(../imgs/border-img.png) center repeat;
			position: absolute;
			top: 43px;
			left: 18px;
		  }
		}
  
		.text {
		  text-align: left;
  
		  .text1 {
			font-size: 14px;
			color: #273142;
			display: block;
			margin-bottom: 4px;
		  }
  
		  .text2 {
			font-size: 12px;
			color: #959fae;
			display: block;
		  }
		}
  
		&:last-child {
		  padding-bottom: 27px;
  
		  .count:after {
			height: 0;
			width: 0;
		  }
		}
		&:nth-child(2) {
			padding-bottom: 22px;
		}
	  }
	}
  
	h3 {
	  color: #2b97a3;
	  margin: 0 0 10px;
	  font-weight: 700;
	  font-size: 16px;
	}
  
	p {
	  color: #959fae;
	  line-height: 22px !important;
	  margin-bottom: 0;
	  font-size: 13px;
  
	  a {
		color: #2b97a3;
		text-decoration: underline !important;
	  }
	}
  }
  
  .bota_find_us {
	padding: 70px 0 80px;
  
	h5 {
	  font-size: 25px;
	  color: #273142;
	  font-weight: 700;
	  line-height: 36px;
	}
  
	.item h5 {
	  font-size: 18px;
	  color: #273142;
	  font-weight: 700;
	  line-height: 1.1;
	  margin: 0 0 10px;
	}
  
	.bota_find_us_desc {
	  font-size: 13px;
	  color: #959fae;
	  line-height: 30px;
  
	  p {
		margin: 0;
	  }
  
	  a {
		font-size: 12px;
		color: #273142;
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: top;
		padding: 8px 0;
		position: relative;
		margin-top: 7px;
		letter-spacing: .1em;
  
		&:after {
		  content: '';
		  height: 2px;
		  width: 100%;
		  background-color: #273142;
		  position: absolute;
		  left: 0;
		  bottom: 0;
		}
  
		&:hover {
		  color: #2b97a3;
  
		  &:after {
			background-color: #2b97a3;
		  }
		}
	  }
	}
  }
  .block-popup-login {
	margin-top: 170px;
	max-width: 600px;
	padding: 0 20px 0;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	pointer-events: unset;
	@media (max-width: 767px){
		max-width: 300px;
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
	}
	form {
	  &.login, &.register {
		border: 0;
		padding: 0;
		margin: 0;
		text-align: left;
		border-radius: 0;
	  }
  
	  &.login.loading, &.register.loading {
		height: auto;
	  }
  
	  &.login.loading:before, &.register.loading:before {
		opacity: 0.7;
	  }
	}
  
	.tt_popup_login {
	  height: 42px;
	  background-color: #2b97a3;
	  margin: 0 -20px;
	  padding: 0 10px;
  
	  strong {
		line-height: 42px;
		display: inline-block;
		padding-left: 55px;
		text-transform: uppercase;
		font-size: 15px;
		color: #fff;
		background-image: url(../imgs/bg_general.png);
		background-repeat: no-repeat;
		background-position: -20px -700px;
		position: relative;
		padding-right: 10px;
		background-color: #2b97a3;
		@media (max-width: 767px){
			font-size: 14px;
		}
	  }
	}
  
	.block-content {
	  padding-top: 30px;
	  padding-bottom: 40px;
	  font-weight: 400;
  
	  .col-reg {
		width: 50%;
		float: left;
		min-height: 188px;
		@media (max-width: 767px){
			width: 100%;
			float: none;
		}
		&.registered-account {
		  padding-right: 30px;
		  border-right: 1px solid #d0d0d0;
		  @media (max-width: 767px){
			padding: 0;
			border: none;
		  }
		  .button-login {
			position: relative;
			float: left;
			margin-top: 10px;
  
			button {
			  background-color: #2b97a3;
			  padding: 0 25px 0 48px;
			  height: 42px;
			  font-size: 11px;
			  font-weight: 700;
			  white-space: nowrap;
			  text-transform: uppercase;
			  color: #fff;
			  -webkit-border-radius: 0;
			  -moz-border-radius: 0;
			  -o-border-radius: 0;
			  -ms-border-radius: 0;
			  border-radius: 0;
			  border: 0;
  
			  &:hover {
				background-color: #20727b;
			  }
			}
  
			&:before {
			  background: url(../imgs/bg_general.png) no-repeat -20px -1593px;
			  content: '';
			  display: block;
			  width: 15px;
			  height: 18px;
			  position: absolute;
			  top: 10px;
			  left: 20px;
			  z-index: 5;
			}
		  }
		}
  
		&.login-customer {
		  padding-left: 30px;
		  color: #464646;
		  @media (max-width: 767px){
			padding: 0;
		}
		  h2 {
			font-size: 15px;
			font-weight: 700;
		  }
		}
	  }
  
	  .list-log {
		list-style: none;
		margin: 0;
  
		li {
		  padding: 2px 0 2px 14px;
		  font-style: italic;
		  position: relative;
		  border-left: none;
		  line-height: 22px;
  
		  &:before {
			content: "";
			display: inline-block;
			width: 5px;
			height: 5px;
			background-color: #666;
			position: absolute;
			left: 0;
			top: 10px;
		  }
		}
	  }
  
	  .btn-reg-popup {
		height: 42px;
		line-height: 42px;
		padding: 0 42px;
		text-transform: uppercase;
		display: inline-block;
		font-size: 11px;
		margin-top: 15px;
		color: #fff;
		font-weight: 700;
		background-color: #2b97a3;
  
		&:hover {
		  background-color: #20727b;
		}
	  }
	}
  
	.email-input {
	  position: relative;
  
	  &:before {
		background: url(../imgs/bg_general.png) no-repeat -20px -160px #ababab;
		content: "";
		display: inline-block;
		width: 43px;
		height: 40px;
		position: absolute;
		top: 0;
		left: 0;
		right: auto;
	  }
	}
  
	.pass-input {
	  position: relative;
  
	  &:before {
		background: url(../imgs/bg_general.png) no-repeat -20px -100px #ababab;
		content: "";
		display: inline-block;
		width: 43px;
		height: 40px;
		position: absolute;
		top: 0;
		left: 0;
		right: auto;
	  }
	}
  
	.input-text {
	  border: none;
	  margin-bottom: 14px;
	  width: 100%;
	  padding: 0 5px 0 52px !important;
	  height: 40px !important;
	  font-size: 108.33%;
	  border: 1px solid #d1d1d1 !important;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  -o-border-radius: 0;
	  -ms-border-radius: 0;
	  border-radius: 0;
	  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	  &:focus {
			border-color: #66afe9 !important;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
		}	
	}
  
	.ft-link-p a {
	  color: #464646;
	  padding: 0;
	  border: 0;
  
	  &:hover {
		color: #2b97a3;
	  }
	}
  
	#login_message {
	  clear: both;
	  padding: 10px 0;
	  color: #049e06;
  
	  > a {
		font-weight: 700;
	  }
  
	  &.error {
		color: #ec0122;
	  }
	}
  
	.login-line {
	  text-align: center;
	  position: relative;
	  margin: 0 0 20px 0;
  
	  &:before {
		content: '';
		position: absolute;
		top: 10px;
		height: 1px;
		left: 0;
		width: 100%;
		background: #ccc;
	  }
  
	  > span {
		font-weight: 700;
		display: inline-block;
		padding: 0 10px;
		background: #fff;
		position: relative;
	  }
	}
  
	.social-networks {
	  text-align: center;
	}
  }
  
  .close-login {
	display: inline-block;
	background: url(../imgs/bg_general.png) no-repeat;
	background-position: -24px -2208px;
	width: 26px;
	height: 26px;
	overflow: hidden;
	text-indent: -9999px;
	right: 7px;
	left: auto;
	top: 7px;
	position: absolute;
	opacity: 1;
  
	&:hover {
	  opacity: 0.7;
	}
  }
  .bota_block_email_custom {
	background: #ebfaf1;
	padding: 18px 25px;
	margin-bottom: 40px;
  
	h4 {
	  color: #000;
	  font-size: 14px;
	  font-weight: 700;
	  text-transform: uppercase;
	  border-bottom: 2px solid #000;
	  margin-bottom: 20px;
	  padding-bottom: 17px;
	}
  
	.bota_form_group {
	  input {
		width: 100%;
		border: 1px solid #000;
		height: 44px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		padding: 0 15px;
		font-size: 12px;
		margin-bottom: 10px;
	  }
  
	  button {
		width: 100%;
		background: #000;
		height: 44px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		color: #fff;
		font-size: 12px;
		text-transform: capitalize;
		margin: 0;
		border: none;
		font-weight: 700;
  
		&:hover {
		  background-color: #2b97a3;
		}
	  }
	}
  }
  .bota_upload_prescription .v2_breadcrumb_main .breadcrumb li:nth-child(2) {
	display: none;
  }
  
  .bota_upload_details_page_detail {
	color: #000;
	@media (min-width: 1300px){
		padding-left: 46px;
	}
	h3 {
	  font-size: 21px;
	  border-bottom: 1px #ededed solid;
	  padding-bottom: 20px;
	  margin-bottom: 24px;
	  font-weight: 700;
	}
  
	p {
	  margin: 0 0 10px;
	  line-height: 24px;
	}
  
	img {
	  margin-bottom: 30px;
	  margin-top: 25px;
	}
  
	ul {
	  margin: 0 0 50px 0;
  
	  li {
		position: relative;
		display: block;
		padding: 7px 0 7px 15px;
  
		&:before {
		  content: "\f111";
		  font-size: 5px;
		  position: absolute;
		  top: 15px;
		  left: 0;
		  font-family: 'Font Awesome 5 Pro';
		  font-weight: 900;
		}
	  }
	}
  
	h4 {
	  font-size: 20px;
	  margin-bottom: 40px;
	  font-weight: 700;
	}
  }
  .form_1title_ {
	font-size: 30px;
	text-transform: uppercase;
	color: #222;
	border-bottom: 1px #ededed solid;
	padding-bottom: 22px;
	margin-bottom: 30px;
	letter-spacing: .05em;
	font-weight: 600;
	@media (max-width: 991px){
		font-size: 16px;
	}
  }
  
  #formCustom_1 {
	label {
	  display: none;
	}
  
	input {
	  &[type="text"], &[type="number"] {
		width: 100%;
		height: 45px;
		line-height: 45px;
		border-radius: 4px;
		font-size: 13px;
		border-color: #ededed;
		padding: 0 20px;
		margin-bottom: 6px;
		outline: medium none !important;
		border: 1px solid #ebebeb;
		margin-bottom: 20px;
	  }
	  &[type="file"] {
		font-size: 0;
		height: 180px;
		width: 100%;
		border: none;
		cursor: pointer;
		position: relative;
		margin-bottom: 20px;
		text-indent: -999px;
	  
		&:before {
		  content: "";
		  width: 140px;
		  height: 140px;
		  position: absolute;
		  top: 0;
		  left: 0;
		  right: 0;
		  margin: 0 auto;
		  background: url(../imgs/icon-upload.png) no-repeat center center;
		  pointer-events: none;
		}
	  
		&:after {
		  content: "JPEG, JPG, PNG & PDF supported. Maximum file size – 6MB";
		  position: absolute;
		  bottom: 0;
		  width: 100%;
		  left: 0;
		  right: 0;
		  text-align: center;
		  white-space: normal;
		  font-size: 13px;
		  color: #94a0b0;
		  text-indent: 0;
		}
	  }
	  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	  }
	
	  &[type=number] {
		-moz-appearance: textfield;
	  }
	}
  
	select {
	  width: 100%;
	  height: 45px;
	  line-height: 45px;
	  border-radius: 4px;
	  font-size: 13px;
	  border-color: #ededed;
	  padding: 0 20px;
	  margin-bottom: 6px;
	  outline: medium none !important;
	  border: 1px solid #ebebeb;
	  margin-bottom: 20px;
	}
  
	textarea {
	  width: 100%;
	  height: 45px;
	  line-height: 45px;
	  border-radius: 4px;
	  font-size: 13px;
	  border-color: #ededed;
	  padding: 0 20px;
	  margin-bottom: 6px;
	  outline: medium none !important;
	  border: 1px solid #ebebeb;
	  margin-bottom: 20px;
	  min-height: 95px;
	}
  
	button {
	  padding: 0 15px;
	  border: none;
	  height: 45px;
	  line-height: 46px;
	  border-radius: 4px;
	  font-size: 13px;
	  text-transform: capitalize;
	  background: #2b97a3;
	  width: 100%;
	  -webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  -o-transition: all 0.3s;
	  -ms-transition: all 0.3s;
	  transition: all 0.3s;
	  color: #fff;
	  font-weight: bold;
	  margin-top: 10px;
	}
  }
  
  .bota_upload_details {
	padding: 46px 50px 46px 50px;
	border: 1px #2b97a3 solid;
	border-radius: 20px;
	margin-bottom: 70px;
	@media (max-width: 991px){
		padding: 20px 20px 0 20px;
	}
  }
  
  