.bota_container {
    .bota_contact {
      width: 100%;
  
      .bota_block_contact {
        margin: 100px 30px;
        display: flex;
        justify-content: space-around;
        @media (max-width: 767px) {
            margin: 50px 70px;
        }
        @media (max-width: 320px){
            margin: 30px 10px;
          }
      }
  
      .bota_bg_info_contact {
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        .card {
          border-bottom: none;
          border-radius: 0 !important;
  
          .card-body {
            padding: 0 50px 40px 40px;
            position: relative;
  
            h5 {
              font-weight: 700;
              font-size: 16px;
            }
  
            p {
              color: rgb(177, 176, 176);
            }
          }
        }
  
        .bota_bg_info_contact_icon img {
          position: absolute;
          width: 4rem;
          height: 4rem;
          bottom: 10px;
          right: 30px;
        }
  
        .bota_bg_info_contact {
          display: flex;
  
          .bota_bg_info_contact_color {
            background-color: white;
            flex: 0 0 50%;
            width: 50%;
            position: relative;
            border-top: 1px solid rgba(0, 0, 0, 0.125);
  
            &::before {
              content: "";
              width: 56px;
              height: 1px;
              display: block;
              right: -47px;
              bottom: 22px;
              background-color: rgba(0, 0, 0, 0.125);
              position: absolute;
              transform: rotate(49deg);
            }
  
            &::after {
              content: "";
              width: 54px;
              height: calc(100%);
              display: block;
              position: absolute;
              z-index: 2;
              bottom: 0;
              left: calc(100%);
              background: #ffffff;
              clip-path: polygon(0 0, -50% 150%, 70% 100%);
            }
          }
  
          .bota_bg_info_contact_contact {
            display: inline-block;
            border-right: 1px solid rgba(0, 0, 0, 0.125);
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            border-left: 1px solid rgba(0, 0, 0, 0.125);
            width: 50%;
            padding-top: 15px;
            text-align: center;
  
            div {
              background-color: rgb(241, 241, 241);
              text-align: center;
              padding: 3px 0 3px 20%;
            }
          }
        }
      }
    }
  
    .bota_contact_with {
      width: 100%;
      text-align: center;
  
      .bota_contact_with_title {
        width: 40%;
        margin: auto;
        @media (max-width: 320px) {
            width: 70%;
            }
  
        h4 {
          position: relative;
          @media (max-width: 320px) {
            font-size: 15px;
            }
          &::after {
            content: "";
            width: 25px;
            height: 3px;
            position: absolute;
            bottom: -10px;
            left: calc(47%);
            background-color: #fec83f;
            @media (max-width: 320px) {
                left: calc(45%);
                }
          }
        }
  
        h1 {
          font-size: 40px;
          font-weight: 800;
          @media (max-width: 767px) {
            font-size: 30px;
            }
        @media (max-width: 320px) {
            font-size: 20px;
            }
        }
      }
  
      .bota_contact_with_form {
        width: 60%;
        margin: auto;
        margin-top: 4rem;
        @media (max-width: 1024px) {
            width: 80%;
            }
        @media (max-width: 767px) {
            width: 80%;
            }
            @media (max-width: 320px) {
                width: 80%;
                margin-top: 2rem;
                }
        .contact_form {
          .row {
            margin-bottom: 30px;

          }
  
          input, textarea {
            border-radius: 0 !important;
            border: 1px solid transparent;
            outline: none !important;
            box-shadow: none !important;
            background-color: rgb(241, 241, 241);
            padding: 25px 30px !important;
                &:focus{
                    border-color: #fec83f;
            }
          }
   
          .button_contact {
            margin-top: 20px;
            margin-bottom: 20px;
            border: none;
            background-color: #fec83f;
            color: white;
            font-size: 13px;
            font-weight: 700;
            padding: 20px 50px;
            position: relative;
            transition: all .3s;
            overflow: hidden;
            &:before {
                transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background-color: transparent;
                -webkit-transform-origin: top;
                transform-origin: top;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                -webkit-transform: scaleY(0);
                transform: scaleY(0);
                background-color: #1b1eab;
              }
          
              &:hover:before {
                transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
              }
          }
        }
      }
    }
  
    .contact_map {
      margin-top: 25px;
  
      iframe {
        width: 100% !important;
      }
    }
  }