.bota_feedback_home{
  .bota_feedback_bg {
    background: #2b97a3;
    padding: 30px 70px 55px 70px;
    @media (max-width: 1540px) {
      padding: 0px 30px 0px 30px;
    }
    @media (max-width: 1024px) {
      margin-bottom: 30px;
    }
  }
  .feedback_content_item {
    text-align: center;
  }
  
  .feedback_content_media_group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .feedback_content_image_wrapper {
    display: inline-flex;
  }
  
  .feedback_content_image {
    display: inline-flex;
    padding: 30px 0px 30px 0px;
  
    > a {
      border-radius: 100px 100px 100px 100px;
  
      img {
        transition: all 0.3s linear 0s;
        border: 4px solid #fff;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100px 100px 100px 100px;
      }
    }
  }
  
  .feedback_content_item {
    .feedback_content_detail_group {
      position: relative;
  
      .feedback_content_icon_wrapper {
        margin: 20px 0px 10px 0px;
  
        .feedback_content_icon {
          display: inline-flex;
  
          span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 1em;
            line-height: 1;
            padding: 5px;
            position: relative;
            text-align: center;
            vertical-align: top;
            width: 1em;
            z-index: 0;
            font-size: 50px;
  
            i {
              color: inherit;
              display: inherit;
              font-size: inherit;
              height: 1em;
              position: relative;
              vertical-align: top;
              width: 1em;
            }
  
            svg {
              fill: #fff;
              height: 1em;
              width: 1em;
            }
          }
        }
      }
  
      .feedback_content_description {
        margin: 20px 0px 50px 0px;
        color: #fff;
      }
  
      .feedback_rating_container {
        margin-bottom: 20px;
  
        .feedback_rating {
          display: inline-flex;
          list-style: none;
          margin: 0 -2px;
          padding: 0;
          vertical-align: top;
  
          li {
            display: inline-flex;
            margin: 2px;
  
            span {
              color: #000000;
              height: 1em;
              line-height: 1;
              width: 100%;
              background: linear-gradient(180deg, rgba(245, 149, 9, 1) 1%, rgba(255, 192, 2, 1) 100%);
              -webkit-background-clip: text;
              -moz-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              font-size: 25px;
  
              &.far {
                opacity: 0.75;
              }
            }
          }
        }
      }
    }
  
    .feedback_content_title h5 {
      font-family: "Work Sans", Sans-serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 1.6em;
      color: #fff;
      @media (max-width: 767px) {
        font-size: 20px;
        margin-bottom: 30px;
      }
  
      a {
        color: #fff;
      }
    }
  }
  .owl-theme .owl-nav {
    .owl-prev {
      display: inline-flex;
      margin-top: -20px;
      position: absolute;
      top: -50px;
      right: 30px;
      left: auto;
  
      &:after {
        right: 0;
      }
    }
  
    .owl-next {
      display: inline-flex;
      margin-top: -20px;
      position: absolute;
      top: -50px;
      right: -30px;
  
      &:after {
        left: 0;
      }
    }
  
    [class*=owl-] {
      &:before {
        background: #02010100;
        content: "";
        height: auto;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        width: auto;
        z-index: -1;
        -webkit-border-radius: inherit;
        border-radius: inherit;
        -webkit-transition: inherit;
        transition: inherit;
      }
  
      &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background: #d9ddcf;
        z-index: -1;
        transition: all 0.3s ease-in-out;
      }
  
      > i {
        color: inherit;
        display: inline-flex;
        place-content: center;
        place-items: center;
        font-size: inherit;
        height: 100%;
        margin: 0;
        padding: 5px;
        position: relative;
        width: 100%;
        z-index: 0;
        -webkit-transition: inherit;
        transition: inherit;
  
        svg {
          width: 30px;
          height: 30px;
        }
      }
      display: inline-flex;
      align-items: center;
      width: 50px;
      height: 50px;
      opacity: 1;
      &:hover{
        &::after{
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  
}