.bota_block_info {
  background-image: url(../imgs/home-1-ss1-background.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 110px 0px 0px 0px;
  position: relative;

  .bota_bg_overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(../imgs/bg-about.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  .bota_block_info_title h2 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  color: #1b1eab;
  text-transform: uppercase;

  span {
    position: relative;
    padding-bottom: 5px;

    &:after {
      content: "";
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #fec83f;
    }
  }
}
.bota_block_info_top{
  margin-bottom: 20px;
}
.bota_block_info_center {
  h3 {
    border-bottom: 1px solid #DFE3EA;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 7px 0px;
    font-size: 24px;
    font-weight: 900;
    display: inline-block;
    color: #1b1eab;
    text-transform: uppercase;
  }

  margin-bottom: 40px;
}

.bota_block_info_item {
  text-align: left;
  align-items: center;
  flex-direction: row;
  display: flex;

  .bota_block_info_icon {
    display: inline-flex;
    flex: 0 0 70px;
    margin-right: 20px;
  }

  .bota_block_info_text {
    font-size: 15px;
    font-weight: 500;
    color: #76787c;
    line-height: 1.6;
  }
}

.bota_block_info_short {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  color: #76787c;
  line-height: 1.6;
}

}
.bota_reamore_btn {
  a {
    background-color: #1b1eab;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding: 7px 20px 7px 20px;
    overflow: hidden;
    position: relative;
    transition: all .3s;
    line-height: 20px;

    &:before {
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 101%;
      background-color: transparent;
      -webkit-transform-origin: top;
      transform-origin: top;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      background-color: #fec83f;
    }

    &:hover:before {
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
  }
  span{
    z-index: 1;
    position: relative;
  }

  margin-top: 15px;
  text-align: right;
}
.bota_info_page{
  color: #000;
  .bota_info_top{
    margin-bottom: 100px;
    @media only screen and (max-width: 767px){
      margin-bottom: 40px;
    }
    &.bota_info_operator,&.bota_info_introduction{
      .container{
        @media (min-width: 1200px){
          max-width: 1000px;
        }
      }
    }
    .bota_info_detail_desc {
      font-size: 15px;
      line-height: 1.8;
      h3 {
        font-weight: 800;
        margin-bottom: 20px;
        margin-top: 0;
      }
    
      p {
        margin-bottom: 15px;
      }
    
    
      ul {
        padding-left: 30px;
        margin-bottom: 15px;
    
        li {
          list-style: disc;
          margin-bottom: 15px;
        }
      }
    }
  }
  .bota_info_detail_img{
    img{
      margin: auto;
      display: block;
    }
    @media only screen and (max-width: 992px){
      margin-bottom: 15px;
    }
    .bota_info_detail_name {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
    
    .bota_info_detail_position {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
    }
  }
  .bota_info_detail_title  {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 32px;
    color: #f90504;
    margin-top: 0;
    text-align: center;
    @media only screen and (max-width: 767px){
      font-size: 21px;
    }
    &:after {
      content: '';
      display: block;
      height: 3px;
      margin: 15px auto 40px;
      width: 80px;
      background: #f90504;
    }
  }
  .bota_info_history {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    }
    .slick-slide{
      height: inherit;
    }
    .bota_history_title {
      margin-bottom: 50px;
      color: #fff;
      text-align: center;
      font-size: 32px;
      text-transform: uppercase;
      position: relative;
      margin-top: 0;
      font-weight: 800;
      @media only screen and (max-width: 767px){
        font-size: 21px;
      }
    
      &:after {
        content: '';
        display: block;
        height: 3px;
        margin: 15px auto 40px;
        width: 80px;
        background: #fff;
      }
    }
    .container {
      position: relative;
    } 
    .history_slider_date:before {
      content: "";
      height: 0;
      border-bottom: 2px solid #fff;
      width: 100%;
      position: absolute;
      top: 10px;
      left: 0;
    }
    
    .history_slider_date_item {
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
      color: #fff;
      text-align: center;
      position: relative;
      padding-top: 25px;
      height: inherit;
    }
    
    .history_slider_date-item.slick-current:after {
      border-color: #ffffff;
      -webkit-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
    }
    
    .history_slider_date_item {
      &.slick-current:before, &:hover:before {
        background-color: #e3322b;
        -webkit-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
      }
    
      &.slick-current:after {
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        cursor: pointer;
        -webkit-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
      }
    
      &:before {
        content: "";
        width: 12px;
        height: 12px;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 5px;
        border-radius: 50%;
        left: 50%;
        -webkit-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
        transform: translatex(-50%);
        cursor: pointer;
        -webkit-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
      }
    }
    .history_slider_item {
      .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 372px;
        @media only screen and (max-width: 992px){
          height: auto;
        }
        .history_slider_image {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          width: 50%;
          height: 100%;
          @media only screen and (max-width: 992px){
            width: 100%;
            height: 200px;
          }
          img{
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
        .history_slider_content {
          background: #fff;
          border: 1px solid #f0f0f2;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          width: 50%;
          padding: 30px;
          text-align: left;
          @media only screen and (max-width: 992px){
            width: 100%;
            padding: 15px;
          }
          .date {
            font-weight: 700;
            font-size: 15px;
            line-height: 24px;
            color: #3c3c46;
          }
          .history_slider_title {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #f00401;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: left;
            text-transform: uppercase;
            @media only screen and (max-width: 992px){
              font-size: 15px;
              line-height: 26px;
            }
            @media only screen and (max-width: 454px){
              font-size: 12px;
              line-height: 22px;
            }
          }
          
         .description {
            max-height: 180px;
            height: 100%;
            overflow: hidden;
            text-align: justify;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #3c3c46;
            @media only screen and (max-width: 992px){
              max-height: max-content;
              overflow: auto;
            }
          }
        }
      }
    }
  }
}