.bota_news_home {
  padding: 60px 0px 60px 0px;
  position: relative;
}
.bota_news_item {
  position: relative;

  .bota_news_media {
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      height: 100%;
    }

    .post-date {
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      position: relative;
      background-color: #fec83f;
      color: #fff;
      font-size: 16px;
      line-height: 1;
      padding: 13px 20px;
      position: absolute;
      top: -10px;
      left: 20px;
      font-size: 11px;
      font-weight: bold;
      span {
        line-height: 1;
        position: relative;
        z-index: 1;
      }

      &:before, &:after {
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        position: absolute;
        content: "";
        top: 0;
        height: 10px;
        width: 10px;
        background-color: #fec83f;
      }

      &:before {
        left: -9px;
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
      }

      &:after {
        right: -9px;
        clip-path: polygon(0 100%, 100% 100%, 0 0);
      }
    }
    .box-img {
      overflow: hidden;
      height: 282px;
      position: relative;
    }
    
  }

  .bota_news_content{
    margin: 0;
    padding: 35px 50px 25px 50px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    @media (max-width: 430px) {
        padding: 35px 25px 25px 25px;
    }
    &:after {
      transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
        position: absolute;
        content: "";
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fec83f;
        width: 0;
        height: 10px;
    }
    .post-title{
      margin: 0px 0 10px 0;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      font-size: 20px;
      font-weight: 600;
      color: #000;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      min-height: 60px;
      a{
        &:hover{
          color: #1b1eab;
        }
      }
    }
    .post-meta{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        margin: 0;
        width: max-content;
        background-color: #eff1f5;
        display: inline-flex;
      list-style-type: none;
      padding: 0;
         
        .item-meta{
          display: inline-flex;
          justify-content: center;
          align-items: center;
          line-height: 1;
          margin: 0px 10px;
            .right{
                a, span{
                    font-size: 12px;
                    font-weight: 500;
                    color: #76787c;
                }
                
                .by {
                    display: inline-block;
                    margin-right: 2px; 
                }
                a{
                  &:hover{
                    color: #1b1eab;
                  }
                }
            }
            .left {
                i{
                    font-size: 12px;
                }
                
                margin-right: 3px;
                color: #fec83f;
            }
            span{
                display: flex;
            }
            &.bota_author{
                margin-left: 40px;
                
                @media( max-width: 768px ){
                    margin-left: 15px;
                }
            }
            &.post-comment{
                margin-right: 40px;

                @media( max-width: 768px ){
                    margin-right: 15px;
                }
            }
        }
        .item-space{
            line-height: 1;
        }
        li{
            padding: 12px 0px;
        }
    }
    
    .read-more{
        position: relative;
        line-height: 1.4;
        text-transform: uppercase;
        padding-bottom: 3px;
        color: #76787c;
        &:after{
            display: block;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #76787c;
            z-index: 1;                 
        }
        &:before{
          transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -webkit-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
            content: '';
            width: 0px;
            height: 2px;
            display: block;
            background-color: #1b1eab;
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
        }
        &:hover{
          color: #1b1eab;
            &:before{
              transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -webkit-transition: all 0.4s ease;
              -o-transition: all 0.4s ease;
                width: 100%;
            }
        }
    }

}
&:hover {
    .bota_news_content:after {
      transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      width: calc(100% - 20px);
    }
    .bota_news_media a img {
      transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transform: scale(1.12);
  }
}
}
.bota_block_news {
  margin-bottom: 30px;
  padding: 30px;
  padding-top: 37px;
  border-bottom: 1px solid #eee;
  background-color: #0406420f;

  .bota_block_news_item {
    display: flex;
    padding: 20px;

    &:hover {
      background-color: #ffffff;
    }

    .bota_block_news_media {
      margin-right: 15px;

      a {
        display: flex;
        position: relative;
        overflow: hidden;

        img {
          width: 70px;
          min-width: 70px;
          height: 70px;
          object-fit: cover;
        }
      }
    }

    .bota_block_news_info {
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-flow: column;

      .bota_block_news_author {
        line-height: 1;
      }

      .bota_block_news_title {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .bota_block_news_author {
        .author {
          color: #fec83f;
        }

        .bota_post_author {
          a {
            color: #76787c;
          }

          color: #76787c;
        }
      }
    }
  }
}
.bota_news_search {
  margin-bottom: 30px;
  padding: 20px 50px;
  border-bottom: 1px solid #eee;
  background-color: #fec83f;

  form {
    position: relative;
    margin: 0;
    input {
      -webkit-appearance: none;
      box-sizing: border-box;
      font-weight: normal;
      outline: 0;
      transition: all ease-in-out 0.3s;
      font-size: 16px;
      width: 100%;
      color: #ffffff;
      background: unset;
      border: unset;
      padding: 9px 40px 10px 0px;
      height: 43px;
      &::placeholder { 
        color: #ffffff;
        opacity: 1; 
      }
  
      &::-ms-input-placeholder {
        color: #ffffff;
      }
  
      &::-ms-input-placeholder {
        color: #ffffff;
      }
    }
    .search-submit {
      position: absolute;
      top: 50%;
      right: 0px;
      line-height: 1;
      transform: translate(0, -50%);
      cursor: pointer;
      border: none;
      background: transparent;
      color: #fff;
    }
  }
}
.bota_block_tags {
  margin-bottom: 30px;
  padding: 30px;
  padding-top: 37px;
  border-bottom: 1px solid #eee;
  background-color: #0406420f;
  overflow: hidden;

  .bota_tag_cloud {
    position: relative;
    padding: 0 20px;

    a {
      float: left;
      margin: 0 10px 10px 0;
      display: block;
      background-color: #ffffff;
      color: #13223c;
      border-radius: 0px;
      padding: 10px 15px;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 1px;
      font-size: 12px;
      transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      line-height: 20px;

      &:hover {
        background-color: #fec83f;
        color: #fff;
      }
    }
  }
}
.bota_news_post_item {
  margin-bottom: 70px;

  .bota_news_post_img {
    margin-bottom: 30px;

    img {
      max-height: 530px;
      width: 100%;
      object-fit: cover;
    }
  }

  .bota_news_post_title {
    margin: 0px 0px 20px 0px;
    padding: 0;
    line-height: 1.3em;
    font-weight: bold;
    color: #13223c;
    -webkit-hyphens: unset;
    -moz-hyphens: unset;
    -ms-hyphens: unset;
    hyphens: unset;
    word-break: break-word;
    &:hover {
      color: #1b1eab;
    }
  }

  .bota_news_post_meta {
    list-style-type: none;
		margin: 0 0px 25px 0px;
		padding: 0;
		display: block;
		li{
			display: inline-block;
			margin: 0 16px 0px 0;
			color: #76787c;
			opacity: 0.8;
      font-size: 16px;
			line-height: 1.2;

			&:hover{
				opacity: 1;
			}
			i{
				font-size: 16px;
				color: #fec83f;
				padding-right: 3px;
			}
			a{
				color: #76787c;
				&:hover{
					color: #fec83f;
				}
			}
		}	
  }
  .bota_news_post_excerpt {
    font-size: 16px;
    margin-bottom: 25px;
    color: #76787c;
  }
  
  .bota_news_post_readmore {
    clear: both;
    background-color: #fec83f;
    border-color: #fec83f;
    border: 1px solid;
    color: #fff;
    font-size: 16px;
    text-transform: none;
    font-weight: 600;
    box-shadow: none;
    display: inline-block;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    border-radius: 5px;
    padding: 12px 25px;
    line-height: 1.5em;
  
    &:hover {
      color: #fec83f;
      border-color: #fec83f;
      background-color: #fff;
    }
  }
  
}
.bota_news_details_page{
  .bota_news_details_title {
    padding: 0;
    line-height: 1.3;
    font-weight: bold;
    color: #13223c;
    -webkit-hyphens: unset;
    -moz-hyphens: unset;
    -ms-hyphens: unset;
    -webkit-hyphens: unset;
    -moz-hyphens: unset;
    -ms-hyphens: unset;
    hyphens: unset;
    margin-bottom: 13px;
    margin-top: 0;
    word-break: break-word;
  }
  
  .bota_news_details_content {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.9em;
    color: #76787c;
    font-weight: 500;
  
    ul, ol, p {
      margin-bottom: 20px;
    }
  
    font-size: 16px;
    line-height: 1.9em;
    font-weight: 400;
    color: #76787c;
    h1 {
      font-size: 1.7em;
      line-height: 1.3;
      font-weight: 700;
      color: #13223c;
      margin-bottom: 20px;
      @media (max-width: 549px) {
        font-size: 1.4em;
      }
    }
    h2 {
      font-size: 1.6em;
      line-height: 1.3;
      font-weight: 700;
      color: #13223c;
      margin-bottom: 20px;
      @media (max-width: 549px) {
        font-size: 1.2em;
      }
    }
    h3 {
      font-size: 1.25em;
      font-weight: 700;
      color: #13223c;
      margin-bottom: 20px;
      @media (max-width: 549px) {
        font-size: 1em;
      }
    }
  
    h4 {
      font-size: 1.125em;
      font-weight: 700;
      color: #13223c;
      margin-bottom: 20px;
    }
  
    h5 {
      font-size: 1em;
      font-weight: 700;
      color: #13223c;
      margin-bottom: 20px;
    }
  
    h6 {
      font-size: .85em;
      font-weight: 700;
      color: #13223c;
      margin-bottom: 20px;
      opacity: .8;
    }
  
    ul li, ol li {
      margin-left: 20px;
      list-style: inside;
      margin-bottom: 10px;
    }
  }
  
  .bota_news_post_thumbnail {
    position: relative;
  
    .bota_news_post_media {
      display: flex;
      margin-bottom: 22px;
  
      img {
        width: 100%;
        max-height: 428px;
        object-fit: cover;
      }
    }
    .bota_news_post_meta{
      list-style-type: none;
      margin-bottom: 10px;
      padding: 0;
      display: block;
      li{
        display: inline-block;
        margin: 0 16px 0px 0;
        color: #76787c;
        opacity: 0.8;
        line-height: 1.2;
        font-size: 16px;
  
        &:hover{
          opacity: 1;
        }
        i{
          color: #fec83f;
          padding-right: 3px;
        }
        a{
          color: #76787c;
          &:hover{
            color:#fec83f;
          }
        }
      }	
    }
  }
}

.bota_tags_and_share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
  padding: 30px 0;
  border-top: 1px solid #f3f3f3;

  .bota_news_tags{
    clear: both;
    margin-top: 0;
    padding-top: 0;
    border: unset;
    .bota_news_tags_title {
      font-size: 20px;
      font-weight: 800;
      color: #13223c;
      margin-right: 5px;
  }
    a{
      margin: 0px 10px 10px 0px;
      display: inline-block;
      border-radius: 0px;
      padding: 5px 15px;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 1px;
      font-size: 12px !important;
      transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      color: #fff;
      background-color: #fec83f;

      &:hover{
        background-color: #13223c;
      }
    }		
  }

  .bota_share_social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    list-style: none;
      padding: 0 0 0 10px;
      margin: 0;
      li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 12px;
        }
        a {
          transition: all, 0.2s, ease;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: #f5f5f5;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.2;
          color: #13223c;
          &:hover {
            transition: all, 0.2s, ease;
            background-color: #fec83f;
            color: #fff;
          }
        }
      }
  }
}
.bota_news_comment{
  clear: both;
    margin: 30px 0px;
    position: relative;
}