.bota_product_cate {
  background-color: #f5f5fa;
  transition: opacity .5s ease;
  overflow: hidden;
  padding: 100px 0;
  .slick-arrow {
    color: #f7ca37;
    width: 35px;
    height: 35px;
    position: absolute;
    transform: translateY(-50%);
    top: 47%;
    font-size: 0;
    border: none;
    background: no-repeat;
    padding: 0;
    margin: 0;
    outline: none;
  }

  .slick-prev {
    left: -25px;
    @media only screen and (max-width: 767px){
      left: -15px;
    }
  }

  .slick-next {
    right: -25px;
    @media only screen and (max-width: 767px){
      right: -15px;
    }
  }

  .slick-arrow:after {
    font-family: swiper-icons;
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
    font-size: 25px;
    opacity: 0.7;
  }

  .slick-next:after {
    content: 'next';
  }

  .slick-prev:after {
    content: 'prev';
  }

  .slick-slide {
    height: inherit;
  }
  .tabs {
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media only screen and (max-width: 767px){
      display: block;
    }
    li {
      position: relative;
      padding: 0;
      margin: 0 22px;
      @media only screen and (max-width: 767px){
        display: block;
        margin: 0 auto 10px;
      }
      span {
        font-size: 17px;
        margin-right: 0;
        line-height: 27px;
        color: #999;
        font-weight: 800;
        cursor: pointer;
        @media only screen and (max-width: 767px){
          border: 1px solid;
          width: 100%;
          display: block;
          padding: 10px 0;
        }
      }
  
      &:last-child {
        margin-right: 0;
      }
  
      &:first-child {
        margin-left: 0;
      }
  
      span {
        &:after {
          position: absolute;
          right: 100%;
          top: 10px;
          width: 0;
          height: 7px;
          margin-right: 7px;
          content: '';
          -webkit-transition: all 300ms ease;
          -moz-transition: all 300ms ease;
          -ms-transition: all 300ms ease;
          -o-transition: all 300ms ease;
          transition: all 300ms ease;
          background: #fff;
          @media only screen and (max-width: 767px){
            display: none;
          }
        }
  
        &:hover:after {
          width: 20px;
        }
      }
  
      &.active span {
        &:after {
          width: 20px;
        }
  
        color: #1b1eab;
      }
  
      span:after {
        background-color: #fec83f;
      }
    }
  }
  .tab-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
  
    &.active {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }
  
  .portfolio-filter {
    margin-bottom: 50px;
    text-align: center;
    > ul > li {
      display: inline-block;
    }
  
    &.filter-1 {
      > ul > li {
        padding: 0 2px;
      }
  
      li.active a.portfolio-filter-item, a.portfolio-filter-item:hover {
        color: #fff;
      }
    }
  
    a.portfolio-filter-item {
      margin-right: 12px;
    }
  
    &.filter-2 {
      > ul > li {
        position: relative;
        padding: 0;
        margin: 0 22px;
      }
  
      a.portfolio-filter-item {
        font-size: 17px;
        margin-right: 0;
        line-height: 27px;
        color: #999;
        font-weight: 800;
      }
  
      > ul {
        &.text-right > li:last-child {
          margin-right: 0;
        }
  
        &.text-left > li:first-child {
          margin-left: 0;
        }
      }
  
      li a:after {
        position: absolute;
        right: 100%;
        top: 10px;
        width: 0;
        height: 7px;
        margin-right: 7px;
        content: '';
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
      }
    }
  }
  
  .typo-white .portfolio-filter.filter-2 li a:after {
    background: #fff;
  }
  
  .portfolio-filter.filter-2 {
    li {
      a:hover:after, &.active a:after {
        width: 20px;
      }
    }
  
    .active a.portfolio-filter-item {
      color: #1b1eab;
    }
  
    li a:after {
      background-color: #fec83f;
    }
  }
  
  .article-inner > .post-format-wrap {
    margin-top: 0;
  }
  
  .grid-layout .article-inner > .post-format-wrap {
    margin-top: 0;
  
    &:first-child {
      margin-bottom: 30px;
    }
  }
  .portfolio-wrap {
    position: relative;
    overflow: hidden;
  }
  
  .portfolio-overlay {
    opacity: 0;
    z-index: 1;
  }
  
  .portfolio-wrap {
    .portfolio-img {
      position: relative;
      overflow: hidden;
    }
  
    .overlay-center {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      text-align: center;
      padding: 0 45px;
      width: 100%;
    }
  }
  
  .portfolio-img .img-fluid {
    width: 100%;
  }
  
  .portfolio-overlay .portfolio-title a {
    font-size: 22px;
    font-weight: 800;
    text-transform: capitalize;
    &:hover{
      color: #1b1eab;
    }
  }
  
  .portfolio-wrap {
    .portfolio-overlay {
      position: absolute;
    }
  
    &:hover .portfolio-overlay {
      opacity: 1;
      transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      -ms-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
    }
  }
  
  .portfolio-overlay-wrap:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: 0;
    bottom: 0;
    background: rgba(0, 12, 27, 0.82);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  
  .portfolio-wrap:hover .portfolio-overlay-wrap:before {
    opacity: .85;
    transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
  }
  
  .portfolio-default {
    .portfolio-wrap:hover .portfolio-overlay-wrap:before {
      opacity: 1;
    }
  
    .portfolio-overlay-wrap:before {
      opacity: 0;
      transition: all 0.5s ease 0s;
      z-index: 0;
      background: rgba(255, 255, 255, 0.95);
    }
  
    .portfolio-wrap {
      .portfolio-content-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        top: auto;
        padding: 10px 20px;
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.4s,opacity 0.1s 0.3s;
        -moz-transition: -moz-transform 0.4s,opacity 0.1s 0.3s;
        transition: transform 0.4s, opacity 0.1s 0.3s;
      }
  
      &:hover .portfolio-content-wrap {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: -webkit-transform 0.4s,opacity 0.1s;
        -moz-transition: -moz-transform 0.4s,opacity 0.1s;
        transition: transform 0.4s, opacity 0.1s;
      }
  
      .portfolio-content-wrap {
        .portfolio-title a {
          font-size: 18px;
        }
  
        .portfolio-categories span {
          font-size: 15px;
        }
      }
    }
  
    .portfolio-overlay .portfolio-title {
      margin-bottom: 10px;
      position: relative;
      line-height: unset;
  
      a {
        position: relative;
        margin-bottom: 0;
      }
    }
  
    .portfolio-categories > span {
      font-weight: 600;
      font-size: 12px;
      line-height: 1.45;
      letter-spacing: .075em;
      text-transform: uppercase;
    }
  
    .portfolio-wrap .portfolio-overlay > * {
      line-height: 1;
    }
  
    .portfolio-overlay .portfolio-title a:after {
      content: "";
      background: rgba(254, 200, 63, .5);
      height: 6px;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 8px;
      z-index: -1;
    }
  
    .portfolio-wrap {
      .portfolio-overlay.overlay-center {
        -webkit-transform: translateY(-50%) scale(0.8);
        transform: translateY(-50%) scale(0.8);
        will-change: transform,opacity;
        -webkit-transition-property: opacity,-webkit-transform;
        transition-property: opacity,-webkit-transform;
        transition-property: transform,opacity;
        transition-property: transform,opacity,-webkit-transform;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-timing-function: cubic-bezier(0.07, 0.72, 0.24, 1);
        transition-timing-function: cubic-bezier(0.07, 0.72, 0.24, 1);
      }
  
      &:hover .portfolio-overlay.overlay-center {
        -webkit-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
      }
    }
  }
  
}
.grid-layout {
  .isotope > article {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity ease 0.35s;
    -moz-transition: opacity ease 0.35s;
    transition: opacity ease 0.35s;

    &.grid-visible {
      opacity: 1;
      visibility: visible;
    }
  }

  article.post .post-format-wrap .post-overlay-items {
    padding: 0 20px 20px;
  }

  .article-inner > *:first-child {
    margin-top: 20px;
  }
}
.bota_pr_portfolio_item{
  .bota_pr_portfolio_img {
    position: relative;
    overflow: hidden;
    a {
      padding-bottom: 100%;
      position: relative;
      overflow: hidden;
      display: block;
        img {
          width: 100% !important;
          height: 100% !important;
          object-fit: cover;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          max-width: 100%;
          max-height: 100%;
      }
    }
    .portfolio-title {
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      list-style: none;
      margin: 0;
      padding: 10px 24px;
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: #273271;
      position: absolute;
      bottom: -30px;
      right: 0;
      opacity: 0;
      visibility: hidden;
      left: 0;
    }
  
    &:hover {
      .portfolio-title {
        opacity: 1;
        bottom: 0;
        visibility: visible;
      }
  
      img {
        transition: all 0.75s;
        transform: scale(1.2);
      }
    }
  
    .portfolio-title h3 {
      margin: 0;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.bota_product_detail_page{
  
  .bota_product_detail_info{
    margin-bottom: 20px;
    .bota_product_detail_images {
      img {
        margin: auto;
        display: block;
      }
    
      .swiper-pagination-bullet {
        width: 20px;
        border-radius: 5px;
        background: #adb3b6;
        opacity: 1;
    
        &.swiper-pagination-bullet-active {
          background: #fec83f;
        }
      }
    
      position: relative;
    
      .swiper-pagination {
        bottom: 30px;
      }
    }
    .bota_product_detail_desc {
      position: relative;
      margin-bottom: 30px;
    
      ul li {
        border-bottom: 1px solid #f1f1f1;
        padding: 25px 0;
        line-height: 1;
        color: #999;
        font-weight: 500;
    
        span {
          color: #13223c;
          font-weight: 700;
          width: 140px;
          display: inline-block;
        }
      }
    }
      
  }
  .bota_product_detail_tab {
    margin-bottom: 50px;
    h1 {
      font-size: 30px;
      font-weight: 700;
      color: #000;
      margin-bottom: 15px;
    }
  
    .bota_product_time {
      margin-bottom: 20px;
      a {
        color: #fec83f;
        font-weight: 700;
        position: relative;
        padding-right: 25px;
  
        &:before {
          content: "";
          background-color: #fec83f;
          height: 2px;
          width: 15px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }
  
      time {
        padding-left: 10px;
        color: #999;
        font-weight: 500;
      }
    }
  }
  
  .bota_product_time {
    font-size: 15px;
  }
  .bota_product_detail_tabs_desc {
    ul, ol, p {
      margin-bottom: 20px;
    }
  
    font-size: 16px;
    line-height: 1.9em;
    font-weight: 400;
    color: #76787c;
  
    h2 {
      font-size: 1.6em;
      line-height: 1.3;
      font-weight: 700;
      color: #13223c;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 1.7em;
      line-height: 1.3;
      font-weight: 700;
      color: #13223c;
      margin-bottom: 20px;
    }
  
    h3 {
      font-size: 1.25em;
      font-weight: 700;
      color: #13223c;
      margin-bottom: 20px;
    }
  
    h4 {
      font-size: 1.125em;
      font-weight: 700;
      color: #13223c;
      margin-bottom: 20px;
    }
  
    h5 {
      font-size: 1em;
      font-weight: 700;
      color: #13223c;
      margin-bottom: 20px;
    }
  
    h6 {
      font-size: .85em;
      font-weight: 700;
      color: #13223c;
      margin-bottom: 20px;
      opacity: .8;
    }
  
    ul li, ol li {
      margin-left: 20px;
      list-style: inside;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 549px) {
    .bota_product_detail_tabs_desc {
      h1 {
        font-size: 1.4em;
      }
  
      h2 {
        font-size: 1.2em;
      }
  
      h3 {
        font-size: 1em;
      }
    }
  }
  
}
.bota_block_categories {
  margin-bottom: 30px;
  padding: 30px;
  padding-top: 37px;
  border-bottom: 1px solid #eee;
  background-color: #0406420f;

  .bota_block_categories_list ul li {
    padding: 6px 20px;
    line-height: 30px;
    color: #76787c;
    opacity: 0.8;

    &:hover {
      background-color: #ffffff;
      opacity: 1;
    }

    a {
      color: #76787c;
      text-align: left;
      font-weight: 500;
      font-size: 16px;
    }

    &:before {
      content: "\f07b";
      font-family: 'Font Awesome 5 Pro';
      font-weight: 300;
      margin-right: 9px;
      font-size: 16px;
      color: #76787c;
      opacity: 0.5;
    }
  }
}

.bota_product_page{
  .portfolio-filter {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 40px;
    position: relative;
  
    .nav li {
      @media only screen and (max-width: 767px){
        display: block;
        margin: 0 auto 10px;
        text-align: center;
      }
      a {
        font-size: 17px;
        margin-right: 0;
        line-height: 27px;
        color: #999;
        font-weight: 700;
        padding: 20px 0;
        display: block;
        @media only screen and (max-width: 767px){
          border: 1px solid;
          width: 100%;
          display: block;
          padding: 10px 0;
        }
      }
  
      position: relative;
      padding: 0;
      margin: 0 15px;
      display: inline-block;
  
      &:first-child {
        margin-left: 0;
      }
  
      &.active a {
        color: #1b1eab;
      }
    }
  }
}

