.bota_job_item {
    position: relative;
  
    .bota_job_figure {
      -webkit-transition: 0.4s ease-in-out all;
      -o-transition: 0.4s ease-in-out all;
      display: flex;
      position: relative;
      flex-wrap: wrap;
      overflow: hidden;
      border-top: 1px solid #e5e5e5;
      transition: 0.4s ease-in-out all;
      padding: 15px;
  
      .bota_job_image {
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 168px;
        max-width: 168px;
        height: 135px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
  
        a {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          padding: 5px;
        }
      }
  
      .bota_job_figcaption {
        padding-left: 15px;
        flex: 0 0 calc(100% - 183px);
        max-width: calc(100% - 183px);
  
        .bota_job_title {
          margin-bottom: 3px;
          position: relative;
  
          h2 {
            font-weight: 800;
            line-height: 1.2;
            font-size: 17px;
            -o-text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
  
            a {
              -webkit-transition: 0.4s ease-in-out all;
              -o-transition: 0.4s ease-in-out all;
              transition: 0.4s ease-in-out all;
              color: #f00401;
  
              &:hover {
                color: #fec83f;
              }
            }
          }
        }
  
        .bota_job_caption {
          font-size: 14px;
          color: #5d677a;
          line-height: 1.4;
  
          .bota_job_company_name {
            color: #5d677a;
            line-height: 1.5;
            -o-text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
          }
  
          * {
            line-height: 1.5;
          }
  
          .salary {
            color: #008563;
          }
  
          p {
            margin: 0;
          }
  
          em {
            width: 20px;
            padding-right: 5px;
          }
  
          .location {
            color: #5d677a;
            display: flex;
          }
  
          .expire-date {
            color: #5d677a;
          }
          .welfare{
            display: flex;
            padding-bottom: 15px;
            margin-top: 10px;
            color: #5d677a;
            li{
                font-size: 14px;
                display: flex;
                align-items: center;
                +li {
                    margin-left: 12px;
                }
                span{
                    font-size: 14px;
                    margin-right: 4px;
                    line-height: initial;
                    &.fa-plane {
                        transform: rotate(-40deg);
                    }
                }
            }
          }
        }
  
        .bottom-right-icon {
          display: flex;
          z-index: 11;
          align-items: center;
          flex-wrap: wrap;
          justify-content: flex-end;
          bottom: 30px;
          max-width: 250px;
          font-size: 14px;
          position: absolute;
          right: 30px;
  
          ul {
            flex: 0 0 100%;
            max-width: 100%;
            width: auto;
            margin-top: 0;
            order: 1;
  
            li {
              float: left;
              width: 100%;
              display: block;
              text-align: right;
  
              a {
                align-items: center;
                text-decoration: none;
                display: flex;
                justify-content: flex-end;
                cursor: pointer;
                line-height: 1.5;
  
                i {
                  margin-right: 8px;
                  line-height: 1;
                  cursor: pointer;
                }
  
                .text {
                  display: block;
                  padding-left: 5px;
                  color: #5d677a;
                }
                
                &:hover {
                    color: #fec83f;
                    .text{
                        color: #fec83f;
                    }
                }
              }
            }
          }
  
          .bota_job_time {
            flex: 0 0 100%;
            max-width: 100%;
            position: relative;
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            order: 2;
            width: 100%;
            line-height: 1.5;
  
            em {
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
  .bota_block_recruits_cate {
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
  
    .bota_block_recruits_title {
      margin: 0;
      padding: 15px;
      background-color: #fec83f;
      color: #1b1eab;
      font-weight: 800;
      font-size: 20px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  
    .bota_block_recruits_list li {
      border-bottom: 1px solid #ddd;
  
      a {
        padding: 10px 15px;
        display: block;
      }
  
      &:last-child {
        border: none;
      }
  
      a:hover {
        color: #1b1eab;
      }
    }
  }
  